<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="description"
		content="TourBox is an innovative controller dedicatedly designed for digital creators. Whether you are using graphic design software, drawing software, or video and audio editing software, you can use TourBox to operate creative software in an incredibly intuitive way and enjoy more freedom to edit and optimize your creative experiences.">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 user-scalable=no" />
	<meta name="p:domain_verify" content="d9a145c3c388a5a0309748c004f9f8e7" />
	<title>TourBox - An Innovative Controller for Digital Creators</title>
	<link rel="canonical" href="https://www.tourboxtech.com/" />
	<link rel="shortcut icon" type="image/ico" href="basic-img/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/global.css" />
	<link rel="stylesheet" type="text/css" href="plugins/iconfont/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="css/header.css" />
	<link rel="stylesheet" type="text/css" href="css/product.css" />
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123518466-3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-123518466-3');
	</script>
	<!-- Event snippet for 亚马逊网站-跳转. -->
	<script>
		function gtag_report_conversion(url) {
			var callback = function () {
				if (typeof (url) != 'undefined') {
					window.location = url;
				}
			};
			gtag('event', 'conversion', {
				'send_to': 'AW-452806235/6rF7CMPMs_EBENuM9dcB',
				'event_callback': callback
			});
			return false;
		}
	</script>
</head>

<body>
	<section id="index" class="index" v-cloak>
		<!-- header -->
		<header class="header">
			<div class="header-desk flex-vc">
				<nav class="desk-nav flex-vb flex-1">
					<a class="nav-logo" href="index.html"></a>
					<ul class="nav-bar flex-vc">
						<li class="bar-item" v-for="(item, index) in navList" :key="index">
							<a class="item-link flex-center" :href="item.href">{{item.name}}</a>
							<ul class="item-bar" v-if="item.linkList">
								<li class="bar-sub" v-for="(linkItem, linkIndex) in item.linkList" :key="linkIndex">
									<a class="sub-link flex-center" :href="linkItem.link"
										:target="linkItem.target">{{linkItem.linkName}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<div class="desk-shop flex-center">
					<div class="shop-title flex-center"><span>Buy Now</span></div>
					<div class="shop-list">
						<div class="list-item flex-center">
							<a href="shopify-buy.html" target="_blank">TourBox Store</a>
						</div>
						<div class="list-item flex-center" onclick="gtag_report_conversion('https://www.amazon.com/dp/B08HCV1JGB?ref=myi_title_dp')">
							<span>Amazon Store</span>
						</div>
					</div>
				</div>
				<div class="desk-language ">
					<div class="language-default flex-vb">
						<span>English</span>
						<i class="iconfont icondian"></i>
					</div>
					<ul class="language-select">
						<li class="select-item flex-center" @click="checkLanguage('cn')">简体中文</li>
						<li class="select-item flex-center" @click="checkLanguage('tw')">繁體中文</li>
						<li class="select-item flex-center" @click="checkLanguage('jp')">日本語</li>
						<li class="select-item flex-center" @click="checkLanguage('kr')">한국어</li>
						<li class="select-item flex-center" @click="checkLanguage('de')">Deutsch</li>
					</ul>
				</div>
			</div>

			<div class="header-mobile flex-vb">
				<div class="mobile-nav">
					<div class="nav-toggle" v-show="!openLanguageShow" @click="openMenu">
						<i class="iconfont iconbars" :class="{iconclose: openMenuShow}"></i>
					</div>
					<ul class="nav-list">
						<li class="list-item" v-for="(item, index) in navList" :key="index">
							<a class="item-link flex-vb" :href="item.href" :target="item.target">
								<span>{{item.name}}</span>
								<i class="iconfont iconarrow-right"></i>
							</a>
						</li>
					</ul>
				</div>
				<a class="mobile-logo" href="index.html"></a>
				<div class="mobile-language" v-show="!openMenuShow">
					<div class="language-default flex-vc" :class="{'icon-active': openLanguageShow}" @click="openLanguage">
						<span v-show="!openLanguageShow">English</span>
						<i class="iconfont icondian" :class="{iconclose: openLanguageShow}"></i>
					</div>
					<ul class="language-select">
						<li class="select-title flex-vc"><span>Select Language</span></li>
						<li class="select-item flex-vb" @click="checkLanguage('cn')"><span>中国大陆</span><span>简体中文</span></li>
						<li class="select-item flex-vb" @click="checkLanguage('tw')"><span>中国台湾</span><span>繁體中文</span></li>
						<li class="select-item flex-vb" @click="checkLanguage('jp')"><span>日本</span><span>日本語</span></li>
						<li class="select-item flex-vb" @click="checkLanguage('kr')"><span>대한민국</span><span>한국어</span></li>
						<li class="select-item flex-vb" @click="checkLanguage('de')"><span>Deutschland</span><span>Deutsch</span></li>
					</ul>
				</div>
			</div>

			<!-- <div class="header-buy flex-vb">
				<span>TourBox 2020</span>
				<div id='product-component-1589254179271' style="width: 120px !important;"></div>
			</div> -->
			<div class="header-buy">
				<div class="buy-nav flex-vb">
					<div class="nav-left">TourBox 2020</div>
					<div class="nav-right" @click="openBuyNow">Buy Now</div>
				</div>
				<div class="buy-list">
					<a class="list-item flex-vb" href="shopify-buy.html" target="_self" >
						<span>TourBox Store</span>
						<i class="iconfont iconarrow-right"></i>
					</a>
					<a class="list-item flex-vb" onclick="gtag_report_conversion('https://www.amazon.com/dp/B08HCV1JGB?ref=myi_title_dp')">
						<span>Amazon Store</span>
						<i class="iconfont iconarrow-right"></i>
					</a>
				</div>
			</div>
		</header>

		<!-- main -->
		<main class="index-main">
			<!-- global fixed video -->
			<section class="main-player">
				<div class="player-video flex-center">
					<div class="video-close" @click.prevent="closePlayer">
						<span class="iconfont iconclose"></span>
					</div>
					<div class="video-container"></div>
				</div>
			</section>
			<!-- banner -->
			<section class="main-banner">
				<div class="banner-overflow">
					<div class="overflow-title">
						<p>Control</p>
						<p>As you wish</p>
					</div>
					<div class="overflow-move">
						<div class="move-img"></div>
					</div>
				</div>
				<div class="banner-detail">
					<div class="detail-title">
						<p>Control</p>
						<p>As You Wish</p>
					</div>
					<div class="detail-text">
						<p>Equipped with all-new knobs and buttons, TourBox allows creators to control their
						workflow seamlessly and confidently.
						Ergonomic design enables you to control with just one hand. More built-in functions are made for
						different scenarios. Whether it is digital painting, designing, photo editing, or video editing, you can
						use TourBox in creative software in an incredibly intuitive, faster, more efficient, and seamless way.</p>
					</div>
					<div class="detail-tip flex-center">
						<p>TourBox 2020 brings you<span>&nbsp;</span></p>
						<p>unprecedented control experiences.</p>
						<i class="iconfont iconPlayButton" @click="openFixedVideo('BdmZXOftm00')"></i>
					</div>
					<div class="detail-link">
						<div class="link-item" @click="openFixedVideo('BdmZXOftm00')">
							<span>Watch Video</span>
							<i class="iconfont iconbofang" :class="{'iconarrow-right': isM}"></i>
						</div>
					</div>
				</div>
			</section>
			<!-- second -->
			<section class="section-second">
				<div class="second-wrapper">
					<section class="wrapper-full wrapper-first">
						<div class="full-sticky">
							<div class="sticky-element">
								<div class="element-title">
									<p>WOW!</p>
									<p>Working is Like Playing</p>
									<p>Coloring Games.</p>
								</div>
								<div class="element-cover cover-top"></div>
								<div class="element-cover cover-right"></div>
								<div class="element-cover cover-bottom"></div>
								<div class="element-cover cover-left"></div>
								<div class="element-play">
									<video id="second-first-video" v-if="!isAndroid"
										muted="true"
										loop="true"
										playsinline
										webkit-playsinline="true"
										x5-video-player-type="h5"
										x-webkit-airplay="true"
										x5-video-orientation="portraint" 
										x5-video-player-fullscreen="true"
										:src="!isM ? '//r.tourboxtech.com/en/src/videos/product-second-01-2.0.1.mp4' : '//r.tourboxtech.com/en/src/videos/product-second-01-mobile-2.0.1.mp4'"
									></video>
									<!-- For Android -->
  								<canvas id="second-first-canvas" v-if="isAndroid"></canvas>
									<figure class="play-image"></figure>
								</div>
								<div class="element-text">
									<p>
										You can easily control the size, flow, transparency and hardness of the brush during drawing with a
										versatile knob, zoom in and out with a roll, or drag images by pressing a button. All these controls
										can be achieved with a single hand without moving it.In addition, TourBox also works seamlessly
										with a mouse and a digital panel.
									</p>
								</div>
							</div>
						</div>
					</section>

					<section class="wrapper-card wrapper-second">
						<div class="card-title">
							<p>Such an Intuitive Operation.</p>
						</div>
						<div class="card-play">
							<div class="play-shade flex-center">
								<i class="iconfont iconvideoplay" @click="playCardVideo"></i>
							</div>
							<video class="lazy" 
								:autoplay="!isM" 
								muted="true"
								loop="true"
								playsinline
								webkit-playsinline="true"
								x5-video-player-type="h5"
								x-webkit-airplay="true"
								x5-video-orientation="portraint" 
								x5-video-player-fullscreen="true"
								poster="//r.tourboxtech.com/en/src/images/product-second-02-mask-2.0.png"
								data-src="//r.tourboxtech.com/en/src/videos/product-second-02-2.0.1.mp4"></video>
						</div>
						<div class="card-text">
							<p>In Adobe Lightroom, you can easily adjust the exposure, contrast, shadows, highlights, and other
								parameters with a simple turn of a knob. <span>Your eyes only need to focus on the changes in the
									image, and there’s no need to look at the parameter bar, helping you focus on your creation.</span>
							</p>
						</div>
					</section>

					<section class="wrapper-card wrapper-third">
						<div class="card-title">
							<p>That’s Cool.</p>
						</div>
						<div class="card-play">
							<div class="play-shade flex-center">
								<i class="iconfont iconvideoplay" @click="playCardVideo"></i>
							</div>
							<video class="lazy"
								:autoplay="!isM" 
								muted="true" 
								loop="true"
								playsinline
								webkit-playsinline="true"
								x5-video-player-type="h5"
								x-webkit-airplay="true"
								x5-video-orientation="portraint" 
								x5-video-player-fullscreen="true"
								poster="//r.tourboxtech.com/en/src/images/product-second-03-mask-2.0.png"
								data-src="//r.tourboxtech.com/en/src/videos/product-second-03-2.0.1.mp4"></video>
						</div>
						<div class="card-text">
							<p>With the dial, the knob, and the scroll, this is the editing tool I’ve always wanted. <span>Whether
									it’s timeline fast-moving, frame by frame stepping, or timeline zooming in/out, you can do whatever
									you want with TourBox.</span></p>
						</div>
					</section>

					<section class="wrapper-full wrapper-fourth">
						<div class="full-title">
							<p>Dedicated Knob for</p>
							<p>Accurate and Smooth Tuning.</p>
						</div>
						<div class="full-sticky">
							<div class="sticky-element">
								<div class="element-cover cover-top"></div>
								<div class="element-cover cover-right"></div>
								<div class="element-cover cover-bottom"></div>
								<div class="element-cover cover-left"></div>
								<div class="element-play">
									<video id="second-fourth-video" v-if="!isAndroid"
									muted="true" 
									loop="true"
									playsinline
									webkit-playsinline="true"
									x5-video-player-type="h5"
									x-webkit-airplay="true"
									x5-video-orientation="portraint" 
									x5-video-player-fullscreen="true"
									:src="!isM ? '//r.tourboxtech.com/en/src/videos/product-second-04-2.0.1.mp4' : '//r.tourboxtech.com/en/src/videos/product-second-04-mobile-2.0.1.mp4'"></video>
									<canvas id="second-fourth-canvas" v-if="isAndroid"></canvas>
									<figure class="play-image"></figure>
								</div>
							</div>
						</div>
					</section>
				</div>
			</section>
			<!-- third -->
			<section class="section-third">
				<div class="third-title">
					<p>Find the Tall Button, </p>
					<p>Short Button, Top Button and </p>
					<p>Side Button by Touching. </p>
				</div>
				<div class="third-banner lazy" data-bg="//r.tourboxtech.com/en/src/images/product-third01-2.1.4.png"></div>
			</section>
			<!-- fourth -->
			<section class="section-fourth">
				<div class="fourth-title">
					<p >Yes, </p>
					<p >This Is the Controller I Desire For.</p>
				</div>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" :class="{'swiper-no-swiping': !isM}">
							<div class="slide-banner lazy"
								data-bg="//r.tourboxtech.com/en/src/images/product-fourth-swiper01-2.1.jpg"></div>
							<p class="slide-title">Fine Manufacturing</p>
							<div class="slide-text">
								<p>Tightly selected manufacturing process and ergonomic design let it fit perfectly in the palm of
									your hand. With 200,000 times of durability tests, it is not an electronic toy, but a real tool for
									creators.</p>
							</div>
						</div>
						<div class="swiper-slide" :class="{'swiper-no-swiping': !isM}">
							<div class="slide-banner lazy"
							data-bg="//r.tourboxtech.com/en/src/images/product-fourth-swiper02-2.1.jpg"></div>
						<p class="slide-title">One-Hand Operation</p>
						<div class="slide-text">
							<p>TourBox supports one-hand and sight-free operation. It is easy to carry around and has barely any
								presence on your desktop. You can start creating at any time, whether in the office or the coffee
								shop.</p>
						</div>
	
						</div>
						<div class="swiper-slide" :class="{'swiper-no-swiping': !isM}">
							<div class="slide-banner lazy"
								data-bg="//r.tourboxtech.com/en/src/images/product-fourth-swiper03-2.1.jpg"></div>
							<p class="slide-title">Solid and Reliable</p>
							<div class="slide-text">
								<p>The right weight makes it stable and not move with ease, allowing you to operate confidently.</p>
							</div>
						</div>
						<div class="swiper-slide" :class="{'swiper-no-swiping': !isM}">
							<div class="slide-banner lazy"
								data-bg="//r.tourboxtech.com/en/src/images/product-fourth-swiper04-2.1.jpg"></div>
							<p class="slide-title">Skin-friendly</p>
							<div class="slide-text">
								<p>Good grip feeling that is comfortable and not cold.</p>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
				<!-- <div class="fifth-nav">
					<div class="nav-list">
						<div class="list-item flex-v-center" :class="{'list-active': swiperActiveIndex == index}" 
						v-for="(item, index) in swiperButtonList" :key="index" @click="switchSwiper(index)">{{item}}</div>
					</div>
				</div> -->
			</section>
			<!-- fifth -->
			<section class="section-fifth">
				<div class="fifth-title">
					<p>Enjoy</p>
					<p>The Fun of Control</p>
				</div>
				<div class="fifth-text">
					<p class="text">In a series of navigation operations, like image zooming in/out, canvas rotating,
						timeline zooming in/out and others, the scroll, knob, and dial on TourBox can be operated in combination
						with its side button, tall button, short button, and other buttons to achieve more advanced functions.
					</p>
				</div>
				<div class="fifth-tab">
					<div class="tab-nav flex-vb">
						<div class="nav-item flex-v-center" :class="{'nav-active': toastActiveIndex == index}" v-for="(item, index) in toastVideoList" :key="index"
							@click="switchToast(index)" >
							<i class="iconfont" :class="item.icon"></i>
							<p>{{item.itemText}}</p>
						</div>
					</div>
					<div class="tab-panel">
						<div class="panel-player">
							<div class="player-shade flex-center" v-if="!fifthToastIconShow">
								<i class="iconfont iconvideoplay" @click="playSubToastVideo"></i>
							</div>
							<div class="player-video">
								<video
									loop="true"
									muted="true"
									playsinline
									webkit-playsinline="true"
									x5-video-player-type="h5"
									x-webkit-airplay="true"
									x5-video-orientation="portraint" 
									x5-video-player-fullscreen="true"
									id="subToastVideo" 
									:src="toastVideoList[toastActiveIndex].videoUrl"
								></video>
							</div>
						</div>
						<p class="panel-title">{{toastVideoList[toastActiveIndex].subTitle}}</p>
						<p class="panel-text" v-html="toastVideoList[toastActiveIndex].subText"></p>
					</div>
				</div>
			</section>
			<!-- sixth -->
			<section class="section-sixth">
				<div class="sixth-title">
					<p>Create More with a </p>
					<p>Customizable System</p>
				</div>
				<div class="sixth-sticky">
					<div class="sticky-element">
						<figure class="element-image lazy" data-bg="//r.tourboxtech.com/en/src/images/product-sixth-scale-2.0.png">
						</figure>
						<div class="element-play">
							<div class="play-shade flex-center">
								<i class="iconfont iconvideoplay" @click="playCardVideo"></i>
							</div>
							<video id="sixth-video" class="lazy"
								loop="true"
								muted="true"
								playsinline
								webkit-playsinline="true"
								x5-video-player-type="h5"
								x-webkit-airplay="true"
								x5-video-orientation="portraint" 
								x5-video-player-fullscreen="true"
								data-src="//r.tourboxtech.com/en/src/videos/product-sixth-01-2.0.1.mp4"></video>
							<figure class="play-image lazy" data-bg="//r.tourboxtech.com/en/src/images/product-sixth-01-mask-2.0.jpg">
							</figure>
						</div>
					</div>
					<div class="sticky-text">
						<p class="font-text">
							Simply set the software shortcuts to TourBox to significantly reduce the difficulty of operation, speed up
							your workflow, and enhance the creative experience. You can also configure your own TourBox according to
							your own habits and different software.
						</p>
					</div>
				</div>
				<div class="sixth-detail">
					<div class="detail-sticky">
						<div class="sticky-float">
							<div class="float-first">
								<p class="font-text">
									Simply set the software shortcuts to TourBox to significantly reduce the difficulty of operation,
									speed up your workflow, and enhance the creative experience. You can also configure your own TourBox
									according to your own habits and different software.
								</p>
							</div>

							<div class="float-second float-chunk">
								<div class="chunk-title">
									<p>Not Familiar with Shortcuts?</p>
									<p>No Problems!</p>
								</div>
								<div class="chunk-text">
									<p>
										Creative software should come with easy-to-read label shortcuts that illustrate its functions. The
										console’s interactive prompt system plays a key role in the editing process and makes TourBox
										extremely easy to use. An interactive HUD stays on screen at all times and you can make a visual
										navigation map pop up with just one click. Say goodbye to hard-to-remember shortcuts that involve
										keystrokes on a keyboard, and enjoy a powerful, intuitive button layout instead.
									</p>
								</div>
							</div>

							<div class="float-third float-chunk">
								<div class="chunk-title">
									<p>Use Multiple Creative Software Simultaneously?</p>
									<p>No Problems!</p>
								</div>
								<div class="chunk-text">
									<p>
										During the creation process, TourBox will automatically switch presets lists senselessly according
										to different creative software, making the creation process smoother. Even when using other software
										like Chrome, YouTube, etc., TourBox can automatically switch to the corresponding presets list for
										you.
									</p>
								</div>
							</div>
							<div class="float-fourth float-chunk">
								<div class="chunk-title">
									<p>Match Mouse Functions to TourBox?</p>
									<p>No Problems!</p>
								</div>
								<div class="chunk-text">
									<p>
										Not only all the keyboard shortcuts, but also the functions of the mouse can be perfectly set up to
										TourBox. Whether it’s the left button, right button, middle button, or wheel, there are more
										possibilities than ever before.
									</p>
								</div>
							</div>
						</div>
						<div class="sticky-banner">
							<div class="banner-bg lazy"
								:data-bg="!isM ? '//r.tourboxtech.com/en/src/images/product-sixth-no-2.0.4.jpg' : '//r.tourboxtech.com/en/src/images/product-sixth-no-mobile-2.0.4.jpg'">
							</div>
						</div>
					</div>
				</div>

				<div class="sixth-youtube">
					<div class="youtube-title">
						<p>Use it, Rely on it</p>
					</div>
					<div class="youtube-text">
						<p>
							We followed users’ thinking logics and operation habits when designing TourBox’s hardware and software.
							Thanks to the powerful tag system and prompt system, anyone can use the device easily in no time. After
							using it for a while, you will find it has become part of yourself. Its layout for one-hand operation,
							intuitive control and powerful customization functions can lift your work efficiency to a new level. Yes,
							a real tool must be the extension of hands, which helps you think, create and control in the way you want
							and lets you rely on it.
						</p>
					</div>
					<div class="youtube-watch" @click="openFixedVideo('KnRKJcLDi1Y')">
						<span>They’re All Using It</span>
						<i class="iconfont icontriangle"></i>
					</div>
					<div class="youtube-banner lazy"
						:data-bg="!isM ? '//r.tourboxtech.com/en/src/images/product-sixth-youtube-2.1.jpg' : '//r.tourboxtech.com/en/src/images/product-sixth-youtube-mobile-2.1.jpg'"
						@click="openFixedVideo('KnRKJcLDi1Y')">
					</div>
				</div>
			</section>
			<!-- seventh -->
			<section class="section-seventh">
				<div class="seventh-title">
					<p>TourBox</p>
				</div>
				<div class="seventh-summary">
					<p>The Ultimate Controller for Creators</p>
				</div>
				<div class="seventh-banner">
					<img src="//r.tourboxtech.com/en/src/images/product-buy-now-2.1.jpg" alt="TourBox">
				</div>
				<div class="seventh-price">
					<p>From $169</p>
				</div>
				<div class="seventh-buy flex-center">
					<a class="flex-center" href="shopify-buy.html" target="_blank">Buy Now</a>
				</div>
			</section>
		</main>

	</section>
	<!-- footer -->
	<footer class="footer" id="footer"></footer>

	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/adapter.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lazyload.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jsmpeg.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/pages/product.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/global.load.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript">
		/*<![CDATA[*/
		(function () {
			initLazy();
			function initLazy() {
				new LazyLoad({
					threshold: 800
				});
			}
		})();
		/*]]>*/
	</script>
</body>

</html>