<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 user-scalable=no" />
		<meta name="p:domain_verify" content="d9a145c3c388a5a0309748c004f9f8e7" />
	<title>TourBox</title>
	<link rel="canonical" href="https://www.tourboxtech.com/" />
	<link rel="shortcut icon" type="image/ico" href="basic-img/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/global.css" />
	<link rel="stylesheet" type="text/css" href="css/header.css" />
	<link rel="stylesheet" type="text/css" href="plugins/iconfont/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="css/product.css"/>
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123518466-3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-123518466-3');
	</script>
</head>

<body>
	<section id="index" class="index" v-cloak>
		<!-- header -->
		<header class="header">
			<div class="header-desk flex-vc">
				<nav class="desk-nav flex-vb flex-1">
					<a class="nav-logo" href="index.html"></a>
					<ul class="nav-bar flex-vc">
						<li class="bar-item" v-for="(item, index) in navList" :key="index">
							<a class="item-link flex-center" :href="item.href">{{item.name}}</a>
							<ul class="item-bar" v-if="item.linkList">
								<li class="bar-sub" v-for="(linkItem, linkIndex) in item.linkList" :key="linkIndex">
									<a class="sub-link flex-center" :href="linkItem.link"
										:target="linkItem.target">{{linkItem.linkName}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<div class="desk-language ">
					<div class="language-default flex-vb">
						<span>한국어</span>
						<i class="iconfont icondian"></i>
					</div>
					<ul class="language-select">
						<li class="select-item flex-center" @click="checkLanguage('cn')">简体中文</li>
						<li class="select-item flex-center" @click="checkLanguage('en')">English</li>
						<li class="select-item flex-center" @click="checkLanguage('tw')">繁體中文</li>
						<li class="select-item flex-center" @click="checkLanguage('jp')">日本語</li>
						<li class="select-item flex-center" @click="checkLanguage('de')">Deutsch</li>
					</ul>
				</div>
			</div>

			<div class="header-mobile flex-vb">
				<div class="mobile-nav">
					<div class="nav-toggle" v-show="!openLanguageShow" @click="openMenu">
						<i class="iconfont iconbars" :class="{iconclose: openMenuShow}"></i>
					</div>
					<ul class="nav-list">
						<li class="list-item" v-for="(item, index) in navList" :key="index">
							<a class="item-link flex-vb" :href="item.href" :target="item.target">
								<span>{{item.name}}</span>
								<i class="iconfont iconarrow-right"></i>
							</a>
						</li>
					</ul>
				</div>
				<a class="mobile-logo" href="index.html"></a>
				<div class="mobile-language " v-show="!openMenuShow">
					<div class="language-default flex-vc" :class="{'icon-active': openLanguageShow}" @click="openLanguage">
						<span v-show="!openLanguageShow">대한민국</span>
						<i class="iconfont icondian" :class="{iconclose: openLanguageShow}"></i>
					</div>
					<ul class="language-select">
						<li class="select-title flex-vc"><span>选择语言</span></li>
						<li class="select-item flex-vb" @click="checkLanguage('cn')"><span>中国大陆</span><span>简体中文</span></li>
						<li class="select-item flex-vb" @click="checkLanguage('en')"><span>United States</span><span>English</span>
						</li>
						<li class="select-item flex-vb" @click="checkLanguage('tw')"><span>中国台湾</span><span>繁體中文</span></li>
						<li class="select-item flex-vb" @click="checkLanguage('jp')"><span>日本</span><span>日本語</span></li>
						<li class="select-item flex-vb" @click="checkLanguage('de')"><span>Deutschland</span><span>Deutsch</span></li>
					</ul>
				</div>
			</div>

			<div class="header-buy flex-vb">
				<span>TourBox 2020</span>
				<a class="flex-center" href="shopify-buy.html" target="_blank">구매하기</a>
			</div>
		</header>

		<!-- main -->
		<main class="index-main">
			<!-- global fixed video -->
			<section class="main-player">
				<div class="player-video flex-center">
					<div class="video-close" @click.prevent="closePlayer">
						<span class="iconfont iconclose"></span>
					</div>
					<div class="video-container"></div>
				</div>
			</section>
			<!-- banner -->
			<section class="main-banner">
				<div class="banner-overflow">
					<div class="overflow-title">
						<p>사용하기</p>
						<p>원하시는 대로</p>
					</div>
					<div class="overflow-move">
						<div class="move-img"></div>
					</div>
				</div>
				<div class="banner-detail">
					<div class="detail-title">
						<p>사용하기</p>
						<p>원하시는 대로</p>
					</div>
					<div class="detail-text">
						<p>완전히 새롭게 조정된 노브와 최적화된 버튼을 가진 TourBox는 창작자가 작업 편집할 때 막힘 없이 자신 있게 할 수 있도록 도와주는 컨트롤러입니다. 인체 공학적 디자인으로 창작 과정을 한 손에 컨트롤할 수 있습니다. 내장 기능이 다양한 사용 상황에 맞게 만들어지며 일러스트 제작이든, 디자인이든, 사진 편집이든 또는 비디오 편집이든 다 사용 가능하고 직관적이고 간편한 조작으로 더 빠르게, 더 효율적으로 보다 원활하게 처리할 수 있습니다. </p>
					</div>
					<div class="detail-tip flex-center">
						<p>TourBox 2020 버전은<span>&nbsp;</span></p>
						<p>전례 없는 컨트롤 체험을 제공해 드립니다.</p>
						<i class="iconfont iconPlayButton" @click="openFixedVideo('5NTc0ZzxmaY')"></i>
					</div>
					<div class="detail-link">
						<div class="link-item" @click="openFixedVideo('5NTc0ZzxmaY')">
							<span>watch video</span>
							<i class="iconfont iconbofang" :class="{'iconarrow-right': isM}"></i>
						</div>
					</div>
				</div>
			</section>
			<!-- second -->
			<section class="section-second">
				<div class="second-wrapper">
					<section class="wrapper-full wrapper-first">
						<div class="full-sticky">
							<div class="sticky-element">
								<div class="element-title">
									<p>아하!</p>
									<p>색칠 게임 하듯이</p>
									<p>작업 진행이 가능하다.</p>
								</div>
								<div class="element-cover cover-top"></div>
								<div class="element-cover cover-right"></div>
								<div class="element-cover cover-bottom"></div>
								<div class="element-cover cover-left"></div>
								<div class="element-play">
									<video id="second-first-video" v-if="!isAndroid"
										muted="true"
										loop="true"
										playsinline
										webkit-playsinline="true"
										x5-video-player-type="h5"
										x-webkit-airplay="true"
										x5-video-orientation="portraint" 
										x5-video-player-fullscreen="true"
										:src="!isM ? '//r.tourboxtech.com/kr/src/videos/product-second-01-2.0.2.mp4' : '//r.tourboxtech.com/kr/src/videos/product-second-01-mobile-2.0.2.mp4'"
									></video>
									<!-- For Android -->
  								<canvas id="second-first-canvas" v-if="isAndroid"></canvas>
									<figure class="play-image"></figure>
								</div>
								<div class="element-text">
									<p>그림을 그리며 TourBox의 노브를 돌려 원하는 브러시의 크기, 흐름, 경도, 투명도를 자유롭게 조절할 수 있고 스크롤로 화면 크기를 확대 또는 축소하거나 버튼을 눌러 화면을 드래그할 수 있습니다. 이 모든 컨트롤은 TourBox로 하시면 팔을 움직이지실 필요는 없고 한 손으로 쉽게 조작 가능합니다. 마우스나 그래픽 타블렛과 함께 사용하시면 더욱더 완벽합니다.</p>
								</div>
							</div>
						</div>
					</section>

					<section class="wrapper-card wrapper-second">
						<div class="card-title">
							<p>작업은 즐겁게 하자</p>
						</div>
						<div class="card-play">
							<div class="play-shade flex-center">
								<i class="iconfont iconvideoplay" @click="playCardVideo"></i>
							</div>
							<video class="lazy" 
								:autoplay="!isM" 
								muted="true"
								loop="true"
								playsinline
								webkit-playsinline="true"
								x5-video-player-type="h5"
								x-webkit-airplay="true"
								x5-video-orientation="portraint" 
								x5-video-player-fullscreen="true"
								poster="//r.tourboxtech.com/kr/src/images/product-second-02-mask-2.0.png"
								data-src="//r.tourboxtech.com/kr/src/videos/product-second-02-2.0.2.mp4"></video>
						</div>
						<div class="card-text">
							<p>Adobe Lightroom에서는 노브를 간단히 돌리기만 하면 노출, 대비도, 그림자, 하이라이트 등 다양한 파라미터 값을 쉽게 조정할 수 있습니다. 눈으로 파라미터 항목을 보실 필요가 전혀 없으므로 이미지의 변화를 주시하여 창작 자체에 집중합시다.</p>
						</div>
					</section>

					<section class="wrapper-card wrapper-third">
						<div class="card-title">
							<p>작업은 쿨하게 하자</p>
						</div>
						<div class="card-play">
							<div class="play-shade flex-center">
								<i class="iconfont iconvideoplay" @click="playCardVideo"></i>
							</div>
							<video class="lazy"
								:autoplay="!isM" 
								muted="true" 
								loop="true"
								playsinline
								webkit-playsinline="true"
								x5-video-player-type="h5"
								x-webkit-airplay="true"
								x5-video-orientation="portraint" 
								x5-video-player-fullscreen="true"
								poster="//r.tourboxtech.com/kr/src/images/product-second-03-mask-2.0.png"
								data-src="//r.tourboxtech.com/kr/src/videos/product-second-03-2.0.2.mp4"></video>
						</div>
						<div class="card-text">
							<p>이런 다이얼, 노브, 스크롤이야말로 제가 항상 원했던 편집 도구입니다.타임라인 빠른 이동, 프레임 속도 조정 또는 타임라인의 확대/축소 등 모두 다 TourBox로 원하는 작업을 수행하실 수 있습니다.</p>
						</div>
					</section>

					<section class="wrapper-full wrapper-fourth">
						<div class="full-title">
							<p>새롭게 조정된 노브는</p>
							<p>보다 정확하고 막임 없으며 원활해진다.</p>
						</div>
						<div class="full-sticky">
							<div class="sticky-element">
								<div class="element-cover cover-top"></div>
								<div class="element-cover cover-right"></div>
								<div class="element-cover cover-bottom"></div>
								<div class="element-cover cover-left"></div>
								<div class="element-play">
									<video id="second-fourth-video" v-if="!isAndroid"
									muted="true" 
									loop="true"
									playsinline
									webkit-playsinline="true"
									x5-video-player-type="h5"
									x-webkit-airplay="true"
									x5-video-orientation="portraint" 
									x5-video-player-fullscreen="true"
									:src="!isM ? '//r.tourboxtech.com/kr/src/videos/product-second-04-2.0.2.mp4' : '//r.tourboxtech.com/kr/src/videos/product-second-04-mobile-2.0.2.mp4'"></video>
									<canvas id="second-fourth-canvas" v-if="isAndroid"></canvas>
									<figure class="play-image"></figure>
								</div>
							</div>
						</div>
					</section>
				</div>
			</section>
			<!-- third -->
			<section class="section-third">
				<div class="third-title">
					<p>톨 버튼, 쇼트 버튼, 톱 버튼,</p>
					<p>사이드 키를 손가락으로</p>
					<p>자연스럽게 찾을 수 있습니다.</p>
				</div>
				<div class="third-banner lazy" data-bg="//r.tourboxtech.com/kr/src/images/product-third01-2.1.6.png"></div>
			</section>
			<!-- fourth -->
			<section class="section-fourth">
				<div class="fourth-title">
					<p class="title-small">맞다.</p>
					<p class="title-normal">이것이 바로 내가</p>
					<p class="title-normal">원하는 컨트롤러이다.</p>
        </div>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" :class="{'swiper-no-swiping': !isM}">
							<div class="slide-banner lazy"
								data-bg="//r.tourboxtech.com/kr/src/images/product-fourth-swiper01-2.1.jpg"></div>
							<p class="slide-title">정밀한 제조</p>
							<div class="slide-text">
								<p>엄선된 제조 공정과 인체 공학적 디자인으로 손바닥과 완벽하게 조합됩니다. 본 제품은 전자 장난감이 아니라 내구성 테스트를 20만 번이나  거쳐 크리에이터를 위해 특별히 디자인된 진정한 도구입니다.</p>
							</div>
						</div>
						<div class="swiper-slide" :class="{'swiper-no-swiping': !isM}">
							<div class="slide-banner lazy"
                data-bg="//r.tourboxtech.com/kr/src/images/product-fourth-swiper02-2.1.jpg"></div>
              <p class="slide-title">한 손으로 조작 가능</p>
              <div class="slide-text">
                <p>버튼을 안 보고 한 손으로 조작 가능하며 사이즈가 적당해서 소지하기 편하기 때문에 사무실이든 커피숍이든 언제 어디든  작업을 시작하실 수 있습니다.</p>
              </div>
						</div>
						<div class="swiper-slide" :class="{'swiper-no-swiping': !isM}">
							<div class="slide-banner lazy"
								data-bg="//r.tourboxtech.com/kr/src/images/product-fourth-swiper03-2.1.jpg"></div>
							<p class="slide-title">안정적이고 믿을 만한 제품</p>
							<div class="slide-text">
								<p>적당한 무게에 안정적이고 쉽게 흔들리지 않아서 편하고 자신 있게 작업을 진행할 수 있습니다.</p>
							</div>
						</div>
						<div class="swiper-slide" :class="{'swiper-no-swiping': !isM}">
							<div class="slide-banner lazy"
								data-bg="//r.tourboxtech.com/kr/src/images/product-fourth-swiper04-2.1.jpg"></div>
							<p class="slide-title">탁월한 촉감</p>
							<div class="slide-text">
								<p>제품을 만져 보시면 보드랍고 편안한 촉감이 느껴지실 수 있습니다. 반면에 차가운 느낌이 전혀 안 납니다.</p>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
				<!-- <div class="fifth-nav">
					<div class="nav-list">
						<div class="list-item flex-v-center" :class="{'list-active': swiperActiveIndex == index}" 
						v-for="(item, index) in swiperButtonList" :key="index" @click="switchSwiper(index)">{{item}}</div>
					</div>
				</div> -->
			</section>
			<!-- fifth -->
			<section class="section-fifth">
				<div class="fifth-title">
					<p>마음껏 즐겨라!</p>
					<p>재미있게 컨트롤하자.</p>
				</div>
				<div class="fifth-text">
					<p class="text">이미지 확대/축소, 캔버스 회전, 타임라인 확대/축소 등 일련의 편집 작업을 진행하실 때 TourBox의 스크롤, 노브, 다이얼, 이 3까지 버튼과 사이드 버튼, 톨 버튼, 쇼트 버튼 등 기타 버튼들을 함께 사용하시면 다른 고급스로운 기능을 실행할 수 있습니다.</p>
				</div>
				<div class="fifth-tab">
					<div class="tab-nav flex-vb">
						<div class="nav-item flex-v-center" :class="{'nav-active': toastActiveIndex == index}" v-for="(item, index) in toastVideoList" :key="index"
							@click="switchToast(index)" >
							<i class="iconfont" :class="item.icon"></i>
							<p>{{item.itemText}}</p>
						</div>
					</div>
					<div class="tab-panel">
						<div class="panel-player">
							<div class="player-shade flex-center" v-if="!fifthToastIconShow">
								<i class="iconfont iconvideoplay" @click="playSubToastVideo"></i>
							</div>
							<div class="player-video">
								<video
									loop="true"
									muted="true"
									playsinline
									webkit-playsinline="true"
									x5-video-player-type="h5"
									x-webkit-airplay="true"
									x5-video-orientation="portraint" 
									x5-video-player-fullscreen="true"
									id="subToastVideo" 
									:src="toastVideoList[toastActiveIndex].videoUrl"
								></video>
							</div>
						</div>
						<p class="panel-title">{{toastVideoList[toastActiveIndex].subTitle}}</p>
						<p class="panel-text" v-html="toastVideoList[toastActiveIndex].subText"></p>
					</div>
				</div>
			</section>
			<!-- sixth -->
			<section class="section-sixth">
				<div class="sixth-title">
					<p>커스터마이저블 시스템으로</p>
					<p>마음껏 창의력을 발휘하여라!</p>
				</div>
				<div class="sixth-sticky">
					<div class="sticky-element">
						<figure class="element-image lazy" data-bg="//r.tourboxtech.com/kr/src/images/product-sixth-scale-2.0.png">
						</figure>
						<div class="element-play">
							<div class="play-shade flex-center">
								<i class="iconfont iconvideoplay" @click="playCardVideo"></i>
							</div>
							<video id="sixth-video" class="lazy"
								loop="true"
								muted="true"
								playsinline
								webkit-playsinline="true"
								x5-video-player-type="h5"
								x-webkit-airplay="true"
								x5-video-orientation="portraint" 
								x5-video-player-fullscreen="true"
								data-src="//r.tourboxtech.com/kr/src/videos/product-sixth-01-2.0.2.mp4"></video>
							<figure class="play-image lazy" data-bg="//r.tourboxtech.com/kr/src/images/product-sixth-01-mask-2.0.4.jpg">
							</figure>
						</div>
					</div>
					<div class="sticky-text">
						<p>해당 소프트웨어에서 사용하시는 단축키를 TourBox 에 맵핑하시기만 하면 작업의 난이도를 대단히 줄여 주고 효율성도 크게 높여 주며 더 좋은 창작 체험을 얻으실 수 있습니다. 자신의 습관과 취향에 맞게 각 소프트웨어별로 자신만의 TourBox 배치가 가능합니다.</p>
					</div>
				</div>
				<div class="sixth-detail">
					<div class="detail-sticky">
						<div class="sticky-float">
							<div class="float-first">
								<p>해당 소프트웨어에서 사용하시는 단축키를 TourBox 에 맵핑하시기만 하면 작업의 난이도를 대단히 줄여 주고 효율성도 크게 높여 주며 더 좋은 창작 체험을 얻으실 수 있습니다. 자신의 습관과 취향에 맞게 각 소프트웨어별로 자신만의 TourBox 배치가 가능합니다. </p>
							</div>

							<div class="float-second float-chunk">
								<div class="chunk-title flex-center">
									<p>단축키에 대해서 익숙하지 않다고?</p>
                </div>
                <div class="chunk-summary">
                  <p>문제가 없다!</p>
                </div>
								<div class="chunk-text">
									<p>각 크리에이티브 소프트웨어 단축키들의 실제 기능을 설명할 수 있도록 알아보기 쉬운 라벨이 배치되어 있습니다. 직관적이고 강한 대화형 프롬프트 시스템으로</p>
									<p>TourBox 사용은 매우 간단해집니다. 스크린에 항상 보이는 대화형HUD, 한번 클릭하면 블러오는 시각화된 편집 필드, 버튼을 안 보고도 작업을 진행할 수 있게 특별히 디자인된 TourBox 버튼 위치, 형태과 조합하게 되면 다양한 스프트웨어를 보다 쉽게 조작할 수 있습니다. 기억하기 어렵고 누르기 불편한 단축키 고민까지 완벽하게 해결됩니다.</p>
								</div>
							</div>

							<div class="float-third float-chunk">
								<div class="chunk-title flex-center">
									<p>여러 세트의 크리에이티브 소프트웨어를<span>&nbsp;</span></p>
									<p>동시에 사용할 때 전환 가능할까?</p>
                </div>
                <div class="chunk-summary">
                  <p>문제가 없다!</p>
                </div>
								<div class="chunk-text">
									<p>작업하는 동안 사용하시는 크리에이티브 스프트웨어에 따라 TourBox는 자동적으로 사전 설정 리스트를 전환하여 작업 과정이 더욱 원활하게 만들어집니다. 심지어 Chrome, YouTube 등 기타 스프트웨어를 함께 사용하시는 경우에도 TourBox를 통하여 해당 사전 설정 리스트는 자동전환이 됩니다.</p>
								</div>
							</div>
							<div class="float-fourth float-chunk">
								<div class="chunk-title flex-center">
									<p>마우스 기능을<span>&nbsp;</span></p>
									<p>TourBox에 맵핑해서 사용해도 될까 ? </p>
                </div>
                <div class="chunk-summary">
                  <p>문제가 없다!</p>
                </div>
								<div class="chunk-text">
									<p>단축키는 물론이고 마우스 기능까지 TourBox에 완벽하게 맵핑해서 사용할 수 있습니다. 왼쪽 버튼이든 오른쪽 버튼이든 중간 버튼이든 스크롤 휠이든 원하시는 대로 직접 한번 설정해 보세요.</p>
								</div>
							</div>
						</div>
						<div class="sticky-banner">
							<div class="banner-bg lazy"
								:data-bg="!isM ? '//r.tourboxtech.com/kr/src/images/product-sixth-no-2.0.4.jpg' : '//r.tourboxtech.com/kr/src/images/product-sixth-no-mobile-2.0.4.jpg'">
							</div>
						</div>
					</div>
				</div>

				<div class="sixth-youtube">
					<div class="youtube-title">
						<p>한번만 사용해 보시면 그의</p>
            <p>매력에 푹 빠진다.</p>
					</div>
					<div class="youtube-text">
						<p>하드웨어 측면이든 소프트웨어 측면이든 사용자의 입장이야말로 TourBox 다자인의 유일한 출발점입니다. 사용하다 보면 분명히 하나의 공통체로 되었다는 실감이 나옵니다. 한 손으로 조작 가능한 레이아웃, 직관적인 입력 형태, 커스터마이저블 시스템을 통해서 보다 효율적인 창작이 가능합니다. 진정한 도구는 자신의 손의 기능을 확장하고 창작가가 제일 직관적인 방식으로 생각할 수 있고  컨트롤할 수 있으며 작업할 수 있도록 하는 도구라고 해도 과언이 아닙니다. </p>
					</div>
					<div class="youtube-watch" @click="openFixedVideo('KnRKJcLDi1Y')">
						<span>투어박스는 바로 이러한 존재입니다.</span>
						<i class="iconfont icontriangle"></i>
					</div>
					<div class="youtube-banner lazy"
						:data-bg="!isM ? '//r.tourboxtech.com/kr/src/images/product-sixth-youtube-2.1.jpg' : '//r.tourboxtech.com/kr/src/images/product-sixth-youtube-mobile-2.1.jpg'"
						@click="openFixedVideo('KnRKJcLDi1Y')">
					</div>
				</div>
			</section>
			<!-- seventh -->
			<section class="section-seventh">
				<div class="seventh-title">
					<p>TourBox</p>
				</div>
				<div class="seventh-summary">
					<p>크리에이터를 위한 최고의 컨트롤러</p>
				</div>
				<div class="seventh-banner">
					<img src="//r.tourboxtech.com/kr/src/images/product-buy-now-2.1.jpg" alt="TourBox">
				</div>
				<div class="seventh-price">
					<p>$169</p>
				</div>
				<div class="seventh-buy flex-center">
					<a class="flex-center" href="shopify-buy.html" target="_blank">바로 구매하기</a>
				</div>
			</section>
		</main>

	</section>
	<!-- footer -->
	<footer class="footer" id="footer"></footer>
	
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/adapter.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lazyload.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jsmpeg.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/pages/product.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/global.load.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript">
		/*<![CDATA[*/
		(function () {
			initLazy();

			function initLazy() {
				new LazyLoad({
					threshold: 800
				});
			}
		})();
		/*]]>*/
	</script>
</body>

</html>