<!--
 * @Author: your name
 * @Date: 2019-12-06 16:33:21
 * @LastEditTime : 2019-12-19 13:33:43
 * @LastEditors  : Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \tourbox\en\components\ig_forMac.html
 -->
<!DOCTYPE html>
<style type="text/css">
	.mac-guide-download {
		padding: .1rem .2rem;
		background-color: #f1f1f1;
		border-radius: .04rem;
		color: #333;
		font-size: .16rem;
		margin-bottom: .1rem;
		display: flex;
		display: -webkit-flex;
		justify-content: space-between;
	}

	.mac-guide-download>a {
		display: inline-block;
		color: #10A5F1;
		text-decoration: none;
	}

	.pdf-container {
		height: 6rem;
		width: 100%;
		border: none;
		overflow: hidden;
	}
	.pdf-container>embed{
		border: none;
	}
</style>
<div id="mac" v-cloak>
	<div class="mac-guide-download">
		<span v-text="text"></span>
		<a :href="pdf" download>Download</a>
	</div>
	<div class="pdf-container">
		<embed type="application/pdf" :src="pdf" width="100%" height="100%"></embed>
	</div>
</div>
<script type="text/javascript">
	new Vue({
		el: "#mac",
		data: {
			text: "Mac Installation Guide",
			pdf: "src/pdf/Installation-Guide-formac.pdf"
		},
		methods: {
			getData:function() {}
		},
	})
</script>
