<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 user-scalable=no" />
	<meta name="p:domain_verify" content="d9a145c3c388a5a0309748c004f9f8e7" />
	<title>TourBox Affiliate Program</title>
	<!-- public resources -->
	<link rel="canonical" href="https://www.tourboxtech.com/" />
	<link rel="shortcut icon" type="image/ico" href="basic-img/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/global.css" />
	<link rel="stylesheet" type="text/css" href="plugins/iconfont/iconfont.css" />
	<!-- page private resources -->
	<link rel="stylesheet" type="text/css" href="css/affiliate-program.css" />
	<!--[if lte IE 9]>
	<script>alert('Please upgrade or change your browser'); window.location = 'error.html'; </script>
	<![endif]-->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123518466-3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-123518466-3');
	</script>
</head>

<body>
	<!-- header -->
	<header id="header"></header>
	<!-- container -->
	<div class="affiliate-program" id="container" v-cloak>
		<div class="program-left">
			<div class="left-title">
				<h1 class="left-title">TOURBOX</h1>
				<h1 class="left-title">AFFILIATE</h1>
				<h1 class="left-title">PROGRAM</h1>
			</div>
			<div class="left-text">
				<p>TourBox is an innovative controller dedicatedly designed for digital creators. We are now looking for
					dedicated creators who wish to join our team and promote TourBox through social channels, blog, personal
					website, or creative community. The role of the Affiliate is to share your TourBox story and get paid by
					attractive commissions.</p>
			</div>
		</div>
		<div class="program-right">
			<p class="right-tip">You’re interested in? Join Now! Please submit your information in the form below and we will
				be in touch!</p>
			<div class="right-form">
				<div class="form-item">
					<div class="item-input">
						<label for="first-name">First Name</label>
						<input id="first-name" v-model="firstName" type="text" @input="clearTipMessage">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input">
						<label for="last-name">Last Name</label>
						<input id="last-name" v-model="lastName" type="text" @input="clearTipMessage">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input">
						<label for="email">Email</label>
						<input id="email" v-model="email" type="text" @input="clearTipMessage">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input">
						<label for="country">Country</label>
						<input id="country" v-model="country" type="text" @input="clearTipMessage">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input">
						<label for="website">Website</label>
						<input id="website" v-model="website" type="text">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input ">
						<label for="facebook">Facebook</label>
						<input id="facebook" v-model="facebook" type="text">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input">
						<label for="youTube">YouTube</label>
						<input id="youTube" v-model="youtube" type="text">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input">
						<label for="instagram">Instagram</label>
						<input id="instagram" v-model="instagram" type="text">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input">
						<label for="twitter">Twitter</label>
						<input id="twitter" v-model="twitter" type="text">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input">
						<label for="about-you">More about you</label>
						<textarea id="about-you" v-model="aboutYou" cols="30" rows="4"></textarea>
					</div>
				</div>
				<div class="form-tip" :style="{color: tipColor}">{{tipMsg}}</div>
				<div class="form-submit">
					<button @click="submitInformation">SUBMIT</button>
				</div>

			</div>
		</div>
	</div>
	<!-- footer -->
	<div id="footer"></div>

	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/adapter.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/pages/affiliate-program.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/global.load.js" type="text/javascript" charset="utf-8"></script>
</body>


</html>