<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="description"
		content="Neu optimierte Drehknopfeinstellung und Tastenbedienung, reibungsloser Betrieb und hohe Zuverlässigkeit. Ergonomisches Design zur Steuerung mit nur einer Hand. Mehr Funktionen für noch mehr Anwendungsmöglichkeiten.">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 user-scalable=no" />
	<meta name="p:domain_verify" content="d9a145c3c388a5a0309748c004f9f8e7" />
	<title>TourBox ist ein innovativer Controller, der eigens für den Bereich der digitalen Kreativität entwickelt wurde.</title>
	<link rel="canonical" href="https://www.tourboxtech.com/" />
	<link rel="shortcut icon" type="image/ico" href="basic-img/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/global.css" />
	<link rel="stylesheet" type="text/css" href="plugins/iconfont/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="css/header.css" />
	<link rel="stylesheet" type="text/css" href="css/product.css" />
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123518466-3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-123518466-3');
	</script>
</head>

<body>
	<section id="index" class="index" v-cloak>
		<!-- header -->
		<header class="header">
			<div class="header-desk flex-vc">
				<nav class="desk-nav flex-vb flex-1">
					<a class="nav-logo" href="index.html"></a>
					<ul class="nav-bar flex-vc">
						<li class="bar-item" v-for="(item, index) in navList" :key="index">
							<a class="item-link flex-center" :href="item.href">{{item.name}}</a>
							<ul class="item-bar" v-if="item.linkList">
								<li class="bar-sub" v-for="(linkItem, linkIndex) in item.linkList" :key="linkIndex">
									<a class="sub-link flex-center" :href="linkItem.link"
										:target="linkItem.target">{{linkItem.linkName}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<div class="desk-language ">
					<div class="language-default flex-vb">
						<span>Deutsch</span>
						<i class="iconfont icondian"></i>
					</div>
					<ul class="language-select">
						<li class="select-item flex-center" @click="checkLanguage('cn')">简体中文</li>
						<li class="select-item flex-center" @click="checkLanguage('tw')">繁體中文</li>
						<li class="select-item flex-center" @click="checkLanguage('en')">English</li>
						<li class="select-item flex-center" @click="checkLanguage('jp')">日本語</li>
						<li class="select-item flex-center" @click="checkLanguage('kr')">한국어</li>
					</ul>
				</div>
			</div>

			<div class="header-mobile flex-vb">
				<div class="mobile-nav">
					<div class="nav-toggle" v-show="!openLanguageShow" @click="openMenu">
						<i class="iconfont iconbars" :class="{iconclose: openMenuShow}"></i>
					</div>
					<ul class="nav-list">
						<li class="list-item" v-for="(item, index) in navList" :key="index">
							<a class="item-link flex-vb" :href="item.href" :target="item.target">
								<span>{{item.name}}</span>
								<i class="iconfont iconarrow-right"></i>
							</a>
						</li>
					</ul>
				</div>
				<a class="mobile-logo" href="index.html"></a>
				<div class="mobile-language" v-show="!openMenuShow">
					<div class="language-default flex-vc" :class="{'icon-active': openLanguageShow}" @click="openLanguage">
						<span v-show="!openLanguageShow">Deutsch</span>
						<i class="iconfont icondian" :class="{iconclose: openLanguageShow}"></i>
					</div>
					<ul class="language-select">
						<li class="select-title flex-vc"><span>Select Language</span></li>
						<li class="select-item flex-vb" @click="checkLanguage('cn')"><span>中国大陆</span><span>简体中文</span>
						<li class="select-item flex-vb" @click="checkLanguage('tw')"><span>中国台湾</span><span>繁體中文</span></li>
						<li class="select-item flex-vb" @click="checkLanguage('en')"><span>United States</span><span>English</span></li>
						<li class="select-item flex-vb" @click="checkLanguage('jp')"><span>日本</span><span>日本語</span></li>
						<li class="select-item flex-vb" @click="checkLanguage('kr')"><span>대한민국</span><span>한국어</span></li>
						</li>
					</ul>
				</div>
			</div>
			<!-- <div class="header-buy flex-vb">
				<span>TourBox 2020</span>
				<div id='product-component-1589254179271' style="width: 120px !important;"></div>
			</div> -->
		</header>

		<!-- main -->
		<main class="index-main">
			<!-- global fixed video -->
			<section class="main-player">
				<div class="player-video flex-center">
					<div class="video-close" @click.prevent="closePlayer">
						<span class="iconfont iconclose"></span>
					</div>
					<div class="video-container"></div>
				</div>
			</section>
			<!-- banner -->
			<section class="main-banner">
				<div class="banner-container">
					<div class="container-content">
						<div class="content-detail">
							<p class="detail-title font-title">Freie Nutzung</p>
							<p class="detail-text">Neu optimierte Drehknopfeinstellung und Tastenbedienung, reibungsloser Betrieb und hohe Zuverlässigkeit.	Ergonomisches Design zur Steuerung mit nur einer Hand. Mehr Funktionen für noch mehr Anwendungsmöglichkeiten. TourBox bietet intuitive, einfache, schnelle und effiziente Methoden, um digitale Malerei, Design, Foto- und Videobearbeitung zu vereinfachen und zu beschleunigen.<span>TourBox 2020 bringt eine nie dagewesene Benutzererfahrung.</span></p>
							<p class="detail-subtitle">TourBox 2020 bringt eine nie dagewesene Benutzererfahrung.</p>
							<div class="detail-link flex-center">
								<div class="link-item flex-vc" @click="openFixedVideo('BdmZXOftm00')">
									<span>Video ansehen</span>
									<i class="iconfont iconbofang"></i>
								</div>
								<div class="link-item flex-vc" @click="openFixedVideo('KnRKJcLDi1Y')">
									<span>Sehr beliebt</span>
									<i class="iconfont iconbofang"></i>
								</div>
							</div>
						</div>
						<div class="content-next">
							<p class="next-title font-title">WOW! Die Arbeit wird zu einem Kinderspiel.</p>
						</div>
					</div>
				</div>
			</section>
			<!-- second -->
			<section class="section-second">
				<div class="second-wrapper">
					<section class="wrapper-full wrapper-first">
						<div class="first-title">
							<p class="title-text font-title">WOW! Die Arbeit wird zu einem Kinderspiel.</p>
						</div>
						<div class="full-sticky">
							<div class="sticky-element">
								<div class="element-top"></div>
								<div class="element-right"></div>
								<div class="element-bottom"></div>
								<div class="element-left"></div>
								<div class="element-play">
									<video id="second-first-video" v-if="!isAndroid"
									muted="true"
									loop="true"
									playsinline
									webkit-playsinline="true"
									x5-video-player-type="h5"
									x-webkit-airplay="true"
									x5-video-orientation="portraint" 
									x5-video-player-fullscreen="true"
									:src="!isM ? '//r.tourboxtech.com/en/src/videos/product-second-01-2.0.1.mp4' : '//r.tourboxtech.com/en/src/videos/product-second-01-mobile-2.0.1.mp4'"
									></video>
									<!-- For Android -->
  								<canvas id="second-first-canvas" v-if="isAndroid"></canvas>
									<figure class="play-image"></figure>
								</div>
								<div class="element-text">
									<p class="font-text">
										Während des Zeichnens können Sie Größe, Fluss, Härte und Transparenz des Pinsels mit dem Drehknopf der TourBox anpassen. Darüber hinaus können Sie die Ansicht mit dem Scrollrad vergrößern und verkleinern oder die Taste gedrückt halten, um Bilder zu ziehen. All das kann durch TourBox leicht mit einer Hand und ohne große Bewegungen ausgeführt werden. TourBox arbeitet zudem nahtlos mit Maus oder Grafiktablett zusammen.
									</p>
								</div>
							</div>
						</div>
					</section>

					<section class="wrapper-card wrapper-second">
						<div class="card-detail flex-vc">
							<div class="detail-left">
								<p>Intuitive Bedienung.</p>
							</div>
							<div class="detail-right">
								<p>In Adobe Lightroom können Sie verschiedene Parameter wie Belichtung, Kontrast, Schatten, Lichter usw. einfach mit dem Drehknopf anpassen.<span>Da Sie nur auf die Änderungen im Bild und nicht auf die Parameterleiste achten müssen, können Sie sich auf die Kreativarbeit konzentrieren.</span>
								</p>
							</div>
						</div>
						<div class="card-play">
							<div class="play-shade flex-center">
								<i class="iconfont iconvideoplay" @click="playCardVideo"></i>
							</div>
							<video class="lazy" :autoplay="!isM" muted="true" playsinline webkit-playsinline="true" loop="true"
								poster="//r.tourboxtech.com/en/src/images/product-second-02-mask-2.0.png"
								data-src="//r.tourboxtech.com/en/src/videos/product-second-02-2.0.1.mp4"></video>
						</div>
					</section>

					<section class="wrapper-card wrapper-third">
						<div class="card-detail flex-vc">
							<div class="detail-left">
								<p>Cool.</p>
							</div>
							<div class="detail-right">
								<p>Das ist das Werkzeug, das ich immer wollte – mit Einstellrad, Drehknopf und Scrollrad.<span>Ganz egal, ob die Timeline schnell verschoben, Frames schrittweise durchgeschaltet oder das gesamte Bild gezoomt wird – mit TourBox können Sie machen, was Sie wollen.</span></p>
							</div>
						</div>
						<div class="card-play">
							<div class="play-shade flex-center">
								<i class="iconfont iconvideoplay" @click="playCardVideo"></i>
							</div>
							<video class="lazy" :autoplay="!isM" muted="true" playsinline webkit-playsinline="true" loop="true"
								poster="//r.tourboxtech.com/en/src/images/product-second-03-mask-2.0.png"
								data-src="//r.tourboxtech.com/en/src/videos/product-second-03-2.0.1.mp4"></video>
						</div>
					</section>

					<section class="wrapper-full wrapper-fourth">
						<div class="fourth-title">
							<div class="title-desk">
								<p class="font-title">Eigener Knopf für präzise Feineinstellungen.</p>
							</div>
							<div class="title-mobile">
								<p class="font-title">Eigener Knopf für präzise Feineinstellungen.</p>
							</div>
						</div>
						<div class="full-sticky">
							<div class="sticky-element">
								<div class="element-top"></div>
								<div class="element-right"></div>
								<div class="element-bottom"></div>
								<div class="element-left"></div>
								<div class="element-play">
									<video id="second-fourth-video" v-if="!isAndroid"
									muted="true" 
									loop="true"
									playsinline
									webkit-playsinline="true"
									x5-video-player-type="h5"
									x-webkit-airplay="true"
									x5-video-orientation="portraint" 
									x5-video-player-fullscreen="true"
									:src="!isM ? '//r.tourboxtech.com/en/src/videos/product-second-04-2.0.1.mp4' : '//r.tourboxtech.com/en/src/videos/product-second-04-mobile-2.0.1.mp4'"></video>
									<canvas id="second-fourth-canvas" v-if="isAndroid"></canvas>
									<figure class="play-image"></figure>
								</div>
							</div>
						</div>
					</section>
				</div>
			</section>
			<!-- third -->
			<section class="section-third">
				<div class="third-title">
					<div class="title-desk">
						<p class="font-title">Nur mit den Fingern finden Sie leicht die Tasten, die Sie benötigen: Große Taste, Kleine Taste, Quertaste und Seitentaste.</p>
					</div>
					<div class="title-mobile">
						<p class="font-title">Nur mit den Fingern finden Sie leicht die Tasten, die Sie benötigen: Große Taste, Kleine Taste, Quertaste und Seitentaste.</p>
					</div>
				</div>
				<div class="third-banner lazy" data-bg="//r.tourboxtech.com/en/src/images/product-third01-2.0.2.png"></div>
			</section>
			<!-- fourth -->
			<section class="section-fourth">
				<div class="fourth-title">
					<p class="font-title">Das ist genau der Controller, den ich will.</p>
				</div>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide flex-vc" :class="{' swiper-no-swiping': !isM}">
							<div class="slide-banner lazy"
								data-bg="//r.tourboxtech.com/en/src/images/product-fourth-swiper01-2.0.4.jpg"></div>
							<div class="slide-detail">
								<p class="detail-title font-title">Das ist genau der Controller, den ich will.</p>
								<div class="detail-summary">
									<p class="font-title">Präzisionsfertigung</p>
								</div>
								<div class="detail-text">
									<p>Streng überwachter Herstellungsprozess, ergonomisches Design, perfekte Passform für die Handfläche. 200.000-fach gestestet: TourBox ist kein Spielzeug, sondern das beste Werkzeug für Kreative.</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide flex-vc" :class="{' swiper-no-swiping': !isM}">
							<div class="slide-banner lazy"
								data-bg="//r.tourboxtech.com/en/src/images/product-fourth-swiper02-2.0.4.jpg"></div>
							<div class="slide-detail">
								<p class="detail-title font-title">Das ist genau der Controller, den ich will.</p>
								<div class="detail-summary">
									<p class="font-title">Einhandbedienung</p>
								</div>
								<div class="detail-text">
									<p>TourBox ist auf die Bedienung mit einer Hand ausgelegt – ohne hinsehen zu müssen. Sie ist mühelos transportabel und nimmt wenig Platz auf Ihrem Schreibtisch ein. Ob im Büro oder im Café – Sie können jederzeit kreativ loslegen.</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide flex-vc" :class="{' swiper-no-swiping': !isM}">
							<div class="slide-banner lazy"
								data-bg="//r.tourboxtech.com/en/src/images/product-fourth-swiper03-2.0.4.jpg"></div>
							<div class="slide-detail">
								<p class="detail-title font-title">Das ist genau der Controller, den ich will.</p>
								<div class="detail-summary">
									<p class="font-title">Stabil und zuverlässig</p>
								</div>
								<div class="detail-text">
									<p>Durch das richtige Gewicht und perfekte Stabilität ist ein zuverlässiger Betrieb garantiert.</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide flex-vc" :class="{' swiper-no-swiping': !isM}">
							<div class="slide-banner lazy"
								data-bg="//r.tourboxtech.com/en/src/images/product-fourth-swiper04-2.0.4.jpg"></div>
							<div class="slide-detail">
								<p class="detail-title font-title">Das ist genau der Controller, den ich will.</p>
								<div class="detail-summary">
									<p class="font-title">Hautfreundlich</p>
								</div>
								<div class="detail-text">
									<p>Gute Oberflächenhaptik, die angenehm ist – und nicht kalt.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</section>
			<!-- fifth -->
			<section class="section-fifth">
				<div class="fifth-content">
					<div class="fifth-title">
						<p class="title font-title">Genießen Sie die volle Kontrolle</p>
					</div>
					<div class="fifth-text">
						<p class="text font-text ">Bei einer Reihe von Vorgängen wie dem Zoomen des Bildschirms, dem Drehen der Leinwand und dem Zoomen der Zeitachse können Scrollrad, Drehknopf und Einstellrad der TourBox gemeinsam mit Seitentaste, großer Taste, kleiner Taste und anderen Tasten gemeinsam verwendet werden, um auf weitere Funktionen zuzugreifen.</p>
					</div>
					<div class="fifth-list flex-vb flex-wrap">
						<div class="list-item" :class="item.className" v-for="(item, index) in toastVideoList" :key="index"
							@click="openSubToast(index)">
							<div class="item-icon"></div>
							<p>{{item.itemText}}</p>
						</div>
					</div>
				</div>
			</section>
			<!-- fifth fixed toast video -->
			<section class="fifth-toast" v-show="subToastShow" @click="closeSubToast">
				<div class="toast-content">
					<div class="content-detail" @click.stop>
						<div class="content-close" @click="closeSubToast">
							<i class="iconfont iconclose-circle"></i>
						</div>
						<div class="content-title">
							<p>{{subTitle}}</p>
						</div>
						<div class="content-text">
							<p v-html="subText"></p>
						</div>
						<div class="content-player">
							<div class="player-shade flex-center" v-if="!fifthToastIconShow">
								<i class="iconfont iconvideoplay" @click="playSubToastVideo"></i>
							</div>
							<div class="player-video">
								<video id="subToastVideo" playsinline webkit-playsinline="true" poster="" src=""></video>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- sixth -->
			<section class="section-sixth">
				<div class="sixth-title">
					<p class="font-title">Mehr Kreativität durch ein anpassbares System</p>
				</div>
				<div class="sixth-sticky">
					<div class="sticky-title">
						<p class="font-title">Mehr Kreativität durch ein anpassbares System</p>
					</div>
					<div class="sticky-element">
						<figure class="element-image lazy" data-bg="//r.tourboxtech.com/en/src/images/product-sixth-scale-2.0.png">
						</figure>
						<div class="element-play">
							<div class="play-shade flex-center">
								<i class="iconfont iconvideoplay" @click="playCardVideo"></i>
							</div>
							<video id="sixth-video" class="lazy" playsinline webkit-playsinline="true" muted="true" loop="true"
								data-src="//r.tourboxtech.com/en/src/videos/product-sixth-01-2.0.1.mp4"></video>
							<figure class="play-image lazy" data-bg="//r.tourboxtech.com/en/src/images/product-sixth-01-mask-2.0.jpg">
							</figure>
						</div>
					</div>
					<div class="sticky-text">
						<p class="font-text">Stimmen Sie die von TourBox verwendeten Tastenkombinationen auf Ihre Software ab, um komplexe Befehlsfolgen zu vereinfachen, Ihren Workflow zu beschleunigen und Ihre kreative Arbeit aufzuwerten.Konfigurieren Sie TourBox nach Ihren Gewohnheiten und für die Software, die Sie am liebsten verwenden.</p>
					</div>
				</div>
				<div class="sixth-detail">
					<div class="detail-sticky">
						<div class="sticky-float">
							<div class="float-first">
								<p class="font-text">Stimmen Sie die von TourBox verwendeten Tastenkombinationen auf Ihre Software ab, um komplexe Befehlsfolgen zu vereinfachen, Ihren Workflow zu beschleunigen und Ihre kreative Arbeit aufzuwerten.Konfigurieren Sie TourBox nach Ihren Gewohnheiten und für die Software, die Sie am liebsten verwenden.</p>
							</div>

							<div class="float-second float-chunk">
								<div class="chunk-title">
									<div class="title-desk">
										<p>Sie kennen sich mit Tastenkombinationen nicht aus?<span> Kein Problem!</span> </p>
										<!-- <p><span>Kein Problem!</span></p> -->
									</div>
									<div class="title-mobile">
										<p>Sie kennen sich mit Tastenkombinationen nicht aus?</p>
										<p><span> Kein Problem!</span></p>
									</div>
								</div>
								<div class="chunk-text">
									<p class="font-text">Die Tastenkürzel vieler Funktionen von Kreativsoftware sind in der Regel in den Menüs mit aufgeführt. Das interaktive Eingabesystem spielt eine zentrale Rolle beim Konfigurieren und macht die Verwendung der TourBox extrem einfach. Das interaktive HUD ist ständig im Bild, und mit nur einem Klick können Sie eine Belegungskarte aufrufen. Lassen Sie aufwendige Tastaturkürzel hinter sich und genießen Sie mächtige, intuitive Tasten.</p>
								</div>
							</div>

							<div class="float-third float-chunk">
								<div class="chunk-title">
									<div class="title-desk">
										<p>Mehrere Kreativ-Anwendungen gleichzeitig nutzen?<span> Kein Problem!</span> </p>
										<!-- <p><span>Kein Problem!</span></p> -->
									</div>
									<div class="title-mobile">
										<p>Mehrere Kreativ-Anwendungen gleichzeitig nutzen?</p>
										<p><span> Kein Problem!</span></p>
									</div>
								</div>
								<div class="chunk-text">
									<p class="font-text">Um den kreativen Ablauf reibungslos zu gestalten, schaltet TourBox beim Wechsel der Anwendung automatisch seine Voreinstellungen mit um. Auch wenn Chrome, YouTube und andere Umgebungen genutzt werden, kann TourBox automatisch zu den passenden Voreinstellungen wechseln.</p>
								</div>
							</div>
							<div class="float-fourth float-chunk">
								<div class="chunk-title">
									<div class="title-desk">
										<p>TourBox soll Funktionen der Maus übernehmen?<span> Kein Problem!</span> </p>
										<!-- <p><span>Kein Problem!</span></p> -->
									</div>
									<div class="title-mobile">
										<p>TourBox soll Funktionen der Maus übernehmen?</p>
										<p><span> Kein Problem!</span></p>
									</div>
								</div>
								<div class="chunk-text">
									<p class="font-text">Nicht nur sämtliche Tastaturkürzel, sondern auch die Funktionen der Maus können mit TourBox ausgeführt werden. Linke Maustaste, rechte Maustaste, mittlere Maustaste oder Mausrad – jetzt haben Sie mehr Möglichkeiten als jemals zuvor.</p>
								</div>
							</div>
						</div>
						<div class="sticky-banner">
							<div class="banner-bg lazy"
								:data-bg="!isM ? '//r.tourboxtech.com/en/src/images/product-sixth-no-2.0.4.jpg' : '//r.tourboxtech.com/en/src/images/product-sixth-no-mobile-2.0.4.jpg'">
							</div>
						</div>
					</div>
				</div>

				<div class="sixth-youtube">
					<div class="youtube-title">
						<p class="font-title">Verlässliche Anwendung</p>
					</div>
					<div class="youtube-text">
						<p class="font-text ">Beim Design der Hard- und Software von TourBox sind wir Logik und Bediengewohnheiten der Anwender gefolgt. Durch das mächtige Tag- und Eingabe-System kann das Gerät in kürzester Zeit von jedem Anwender eingesetzt werden. Schon nach einer kurzen Eingewöhnungsphase ist TourBox quasi zu einem Teil von Ihnen geworden. Die intuitive, einhändige Bedienung und die flexible Anpassung bringen Ihre Arbeit auf ein neues Niveau. Ein Werkzeug muss stets eine Erweiterung der Hand sein, durch die Sie Ihre Gedanken und Ihre Kreativität verlässlich umsetzen können.</p>
					</div>
					<div class="youtube-banner lazy"
						:data-bg="!isM ? '//r.tourboxtech.com/en/src/images/product-sixth-youtube-2.0.4.jpg' : '//r.tourboxtech.com/en/src/images/product-sixth-youtube-mobile-2.0.4.jpg'"
						@click="openFixedVideo('KnRKJcLDi1Y')">
						<div class="banner-watch flex-vc">
							<span>Sehr beliebt</span>
							<i class="iconfont iconbofang"></i>
						</div>
					</div>
				</div>
			</section>
			<!-- seventh -->
			<section class="section-seventh">
				<div class="seventh-title">
					<p>Das ultimative Werkzeug für Kreative</p>
				</div>
				<div class="seventh-summary">
					<p>TourBox 2020</p>
				</div>
				<div class="seventh-price">
					<p>€169</p>
				</div>
				<!-- <div class="seventh-buy flex-center">
					<div id='product-component-1599469984813'></div>
				</div> -->
			</section>
		</main>

	</section>
	<!-- footer -->
	<footer class="footer" id="footer"></footer>

	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/adapter.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lazyload.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jsmpeg.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/pages/product.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/global.load.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript">
		/*<![CDATA[*/
		(function () {
			initLazy();

			function initLazy() {
				new LazyLoad({
					threshold: 800
				});
			}
			// var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
			// if (window.ShopifyBuy) {
			// 	if (window.ShopifyBuy.UI) {
			// 		ShopifyBuyInit();
			// 	} else {
			// 		loadScript();
			// 	}
			// } else {
			// 	loadScript();
			// }



			// function ShopifyBuyInit1() {
			// 	var client = ShopifyBuy.buildClient({
			// 		domain: 'store.tourboxtech.com',
			// 		storefrontAccessToken: 'f642429bcb9aa5193c0c42eac9a176e4',
			// 	});
			// 	ShopifyBuy.UI.onReady(client).then(function (ui) {
			// 		ui.createComponent('product', {
			// 			id: '4826136182917',
			// 			node: document.getElementById('product-component-1589254179271'),
			// 			moneyFormat: '%24%7B%7Bamount%7D%7D',
			// 			options: {
			// 				"product": {
			// 					"styles": {
			// 						"product": {
			// 							"width": "120px"
			// 						},
			// 						"button": {
			// 							"font-family": "Open Sans, sans-serif",
			// 							"font-size": "14px",
			// 							"padding": "6px 15px 7px 15px",
			// 							"margin-top": "-20px !important",
			// 							"border-radius": "25px",
			// 							"outline": "none",
			// 							"background-image": "linear-gradient(218deg,#004ffc 4%,#3f6ef6 94%);"
			// 						},
			// 						"quantityInput": {
			// 							"font-size": "16px",
			// 							"padding-top": "16px",
			// 							"padding-bottom": "16px"
			// 						}
			// 					},
			// 					"buttonDestination": "checkout",
			// 					"contents": {
			// 						"img": false,
			// 						"title": false,
			// 						"price": false
			// 					},
			// 					"text": {
			// 						"button": "Kaufen"
			// 					},
			// 					"googleFonts": [
			// 						"Open Sans"
			// 					]
			// 				},
			// 				"productSet": {
			// 					"styles": {
			// 						"products": {
			// 							"@media (min-width: 601px)": {
			// 								"margin-left": "-20px"
			// 							}
			// 						}
			// 					}
			// 				},
			// 				"modalProduct": {
			// 					"contents": {
			// 						"img": false,
			// 						"imgWithCarousel": true,
			// 						"button": false,
			// 						"buttonWithQuantity": true
			// 					},
			// 					"styles": {
			// 						"product": {
			// 							"@media (min-width: 601px)": {
			// 								"max-width": "100%",
			// 								"margin-left": "0px",
			// 								"margin-bottom": "0px"
			// 							}
			// 						},
			// 						"button": {
			// 							"font-family": "Open Sans, sans-serif",
			// 							"font-weight": "bold",
			// 							"font-size": "16px",
			// 							"padding-top": "16px",
			// 							"padding-bottom": "16px",
			// 							":hover": {
			// 								"background-color": "#1ea8de"
			// 							},
			// 							"background-color": "#21bbf7",
			// 							":focus": {
			// 								"background-color": "#1ea8de"
			// 							},
			// 							"border-radius": "6px"
			// 						},
			// 						"quantityInput": {
			// 							"font-size": "16px",
			// 							"padding-top": "16px",
			// 							"padding-bottom": "16px"
			// 						}
			// 					},
			// 					"googleFonts": [
			// 						"Open Sans"
			// 					],
			// 					"text": {
			// 						"button": "Add to cart"
			// 					}
			// 				},
			// 				"cart": {
			// 					"styles": {
			// 						"button": {
			// 							"font-family": "Open Sans, sans-serif",
			// 							"font-weight": "bold",
			// 							"font-size": "16px",
			// 							"padding-top": "16px",
			// 							"padding-bottom": "16px",
			// 							":hover": {
			// 								"background-color": "#1ea8de"
			// 							},
			// 							"background-color": "#21bbf7",
			// 							":focus": {
			// 								"background-color": "#1ea8de"
			// 							},
			// 							"border-radius": "6px"
			// 						}
			// 					},
			// 					"text": {
			// 						"total": "Subtotal",
			// 						"button": "Checkout"
			// 					},
			// 					"popup": false,
			// 					"googleFonts": [
			// 						"Open Sans"
			// 					]
			// 				},
			// 				"toggle": {
			// 					"styles": {
			// 						"toggle": {
			// 							"font-family": "Open Sans, sans-serif",
			// 							"font-weight": "bold",
			// 							"background-color": "#21bbf7",
			// 							":hover": {
			// 								"background-color": "#1ea8de"
			// 							},
			// 							":focus": {
			// 								"background-color": "#1ea8de"
			// 							}
			// 						},
			// 						"count": {
			// 							"font-size": "16px"
			// 						}
			// 					},
			// 					"googleFonts": [
			// 						"Open Sans"
			// 					]
			// 				}
			// 			},
			// 		});
			// 	});
			// }

			// function ShopifyBuyInit2() {
			// 	var client = ShopifyBuy.buildClient({
			// 		domain: 'store.tourboxtech.com',
			// 		storefrontAccessToken: 'f642429bcb9aa5193c0c42eac9a176e4',
			// 	});
			// 	ShopifyBuy.UI.onReady(client).then(function (ui) {
			// 		ui.createComponent('product', {
			// 			id: '4826136182917',
			// 			node: document.getElementById('product-component-1599469984813'),
			// 			moneyFormat: '%24%7B%7Bamount%7D%7D',
			// 			options: {
			// 				"product": {
			// 					"styles": {
			// 						"product": {
			// 							"@media (min-width: 601px)": {
			// 								"max-width": "calc(25% - 20px)",
			// 								"margin-left": "20px",
			// 								"margin-bottom": "50px"
			// 							}
			// 						},
			// 						"button": {
			// 							"font-family": "Open Sans, sans-serif",
			// 							"font-size": "18px",
			// 							"padding-top": "12px",
			// 							"padding-bottom": "12px",
			// 							"color": "#FAFAFA",
			// 							"background-color": "#37383a",
			// 							":hover": {
			// 								"background-color": "#37383a"
			// 							},
			// 							":focus": {
			// 								"background-color": "#37383a"
			// 							},
			// 						},
			// 						"quantityInput": {
			// 							"font-size": "16px",
			// 							"padding-top": "16px",
			// 							"padding-bottom": "16px"
			// 						}
			// 					},
			// 					"buttonDestination": "checkout",
			// 					"contents": {
			// 						"img": false,
			// 						"title": false,
			// 						"price": false
			// 					},
			// 					"text": {
			// 						"button": "Kaufen"
			// 					},
			// 					"googleFonts": [
			// 						"Open Sans"
			// 					]
			// 				},
			// 				"productSet": {
			// 					"styles": {
			// 						"products": {
			// 							"@media (min-width: 601px)": {
			// 								"margin-left": "-20px"
			// 							}
			// 						}
			// 					}
			// 				},
			// 				"modalProduct": {
			// 					"contents": {
			// 						"img": false,
			// 						"imgWithCarousel": true,
			// 						"button": false,
			// 						"buttonWithQuantity": true
			// 					},
			// 					"styles": {
			// 						"product": {
			// 							"@media (min-width: 601px)": {
			// 								"max-width": "100%",
			// 								"margin-left": "0px",
			// 								"margin-bottom": "0px"
			// 							}
			// 						},
			// 						"button": {
			// 							"font-family": "Open Sans, sans-serif",
			// 							"font-weight": "bold",
			// 							"font-size": "16px",
			// 							"padding-top": "16px",
			// 							"padding-bottom": "16px",
			// 							":hover": {
			// 								"background-color": "#1ea8de"
			// 							},
			// 							"background-color": "#21bbf7",
			// 							":focus": {
			// 								"background-color": "#1ea8de"
			// 							},
			// 							"border-radius": "6px"
			// 						},
			// 						"quantityInput": {
			// 							"font-size": "16px",
			// 							"padding-top": "16px",
			// 							"padding-bottom": "16px"
			// 						}
			// 					},
			// 					"googleFonts": [
			// 						"Open Sans"
			// 					],
			// 					"text": {
			// 						"button": "Add to cart"
			// 					}
			// 				},
			// 				"cart": {
			// 					"styles": {
			// 						"button": {
			// 							"font-family": "Open Sans, sans-serif",
			// 							"font-weight": "bold",
			// 							"font-size": "16px",
			// 							"padding-top": "16px",
			// 							"padding-bottom": "16px",
			// 							":hover": {
			// 								"background-color": "#1ea8de"
			// 							},
			// 							"background-color": "#21bbf7",
			// 							":focus": {
			// 								"background-color": "#1ea8de"
			// 							},
			// 							"border-radius": "6px"
			// 						}
			// 					},
			// 					"text": {
			// 						"total": "Subtotal",
			// 						"button": "Checkout"
			// 					},
			// 					"popup": false,
			// 					"googleFonts": [
			// 						"Open Sans"
			// 					]
			// 				},
			// 				"toggle": {
			// 					"styles": {
			// 						"toggle": {
			// 							"font-family": "Open Sans, sans-serif",
			// 							"font-weight": "bold",
			// 							"background-color": "#21bbf7",
			// 							":hover": {
			// 								"background-color": "#1ea8de"
			// 							},
			// 							":focus": {
			// 								"background-color": "#1ea8de"
			// 							}
			// 						},
			// 						"count": {
			// 							"font-size": "16px"
			// 						}
			// 					},
			// 					"googleFonts": [
			// 						"Open Sans"
			// 					]
			// 				}
			// 			},
			// 		});
			// 	});
			// }

		})();
		/*]]>*/
	</script>
</body>

</html>