<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="description" content="Get the latest news and updates from TourBox.">
	<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 user-scalable=no" />
	<meta name="p:domain_verify" content="d9a145c3c388a5a0309748c004f9f8e7" />
	<title>TourBox Affiliate Program</title>
	<!-- public resources -->
	<link rel="canonical" href="https://www.tourboxtech.com/" />
	<link rel="shortcut icon" type="image/ico" href="basic-img/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/global.css" />
	<link rel="stylesheet" type="text/css" href="plugins/iconfont/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="css/affiliate-program.css" />
	<!--[if lte IE 9]>
	<script>alert('Please upgrade or change your browser'); window.location = 'error.html'; </script>
	<![endif]-->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123518466-3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-123518466-3');
	</script>
</head>

<body>
	<!-- header -->
	<header id="header"></header>
	<!-- container -->
	<div class="affiliate-program" id="container" v-cloak>
		<div class="program-left">
			<div class="left-title">
				<h1>TourBoxプロモーション同盟</h1>
			</div>
			<div class="left-text">
				<p>
					TourBoxは、デジタルクリエーターに向けて設計された全く新しいソフトウェアコントローラーです。私たちは現在、チームに参加し、ソーシャルチャネルやブログ、個人ウェブサイト、またはクリエイティブコミュニティを通じてTourBoxを宣伝したいと考えるクリエイターを募集しています。TourBoxとのストーリーをシェアし、見返りとして期待できるコミッションを得ることができます。
				</p>
			</div>
		</div>
		<div class="program-right">
			<p class="right-tip">興味のある方は、下のフォームから情報をご送信ください。ご連絡致します。</p>
			<div class="right-form">
				<div class="form-item">
					<div class="item-input">
						<label for="first-name">名</label>
						<input id="first-name" v-model="firstName" type="text" @input="clearTipMessage">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input">
						<label for="last-name">姓</label>
						<input id="last-name" v-model="lastName" type="text" @input="clearTipMessage">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input">
						<label for="email">メールアドレス</label>
						<input id="email" v-model="email" type="text" @input="clearTipMessage">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input">
						<label for="country">国籍</label>
						<input id="country" v-model="country" type="text" @input="clearTipMessage">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input">
						<label for="website">ウェブサイト</label>
						<input id="website" v-model="website" type="text">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input ">
						<label for="facebook">Facebook</label>
						<input id="facebook" v-model="facebook" type="text">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input">
						<label for="youTube">YouTube</label>
						<input id="youTube" v-model="youtube" type="text">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input">
						<label for="instagram">Instagram</label>
						<input id="instagram" v-model="instagram" type="text">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input">
						<label for="twitter">Twitter</label>
						<input id="twitter" v-model="twitter" type="text">
					</div>
				</div>
				<div class="form-item">
					<div class="item-input">
						<label for="about-you">あなたの詳細情報：</label>
						<textarea id="about-you" v-model="aboutYou" cols="30" rows="4"></textarea>
					</div>
				</div>
				<div class="form-tip" :style="{color: tipColor}">{{tipMsg}}</div>
				<div class="form-submit">
					<button @click="submitInformation">送信</button>
				</div>

			</div>
		</div>
	</div>
	<!-- footer -->
	<div id="footer"></div>

	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/adapter.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/pages/affiliate-program.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/global.load.js" type="text/javascript" charset="utf-8"></script>
</body>


</html>