<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 user-scalable=no" />
	<meta name="p:domain_verify" content="d9a145c3c388a5a0309748c004f9f8e7" />
	<title>TourBox</title>
	<!-- public resources -->
	<link rel="canonical" href="https://www.tourboxtech.com/" />
	<link rel="shortcut icon" type="image/ico" href="basic-img/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/global.css" />
	<link rel="stylesheet" type="text/css" href="plugins/iconfont/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="css/intro.css" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123518466-3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-123518466-3');
	</script>
</head>

<body>
	<!-- header -->
	<header id="header"></header>
	<!-- container -->
	<section id="container" v-cloak>
		<section class="banner" v-if="!isM">
			<img class="over" src="//r.tourboxtech.com/jp/src/images/detail-banner-over.png" alt="">
		</section>
		<section class="mask" v-if="!isM"></section>
		<section class="content">
			<div class="banner-bg" v-if="!isM"
				style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-banner-bg.png');">
				<!-- <img v-if="isM" class="over" src="//r.tourboxtech.com/jp/src/images/detail-banner-over.png" alt=""> -->
			</div>
			<div class="banner-header" v-if="isM">
				<img class="over" src="//r.tourboxtech.com/jp/src/images/detail-header.png" alt="TourBox">
			</div>
			<div class="wrapper">
				<div class="wrapper-section" style="margin-top: 60px;">
					<span>Meet TourBox</span>
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						TourBoxは<span>クリエイター</span>のために設計された全く新しいソフトコントローラーです。Photoshop、Lightroom、Capture
						Oneなどといった<span>画像処理ソフト</span>にも、Clip Studio Paint、Comic Studio、Saiなどといった<span>ペイントソフト</span>にも、またはFinal
						CutPro、Premiere、After
						Effects、DaVinci、Audition、C4Dなどといった<span>映像</span><span>・音声処理ソフト</span>にも、すべてTourBoxでより自然で直観的に操作でき、創作体験を向上させます。
					</p>
				</div>
				<div class="wrapper-gif">
					<img src="//r.tourboxtech.com/jp/src/videos/detail-item01.gif" alt="TourBox">
				</div>
				<div class="wrapper-summary">
					<span>TourBoxは単独でも、マウスやペンタブレットと合わせてもご使用いただけます。</span>
				</div>
				<div class="wrapper-alone">
					<div class="alone-item">
						<img src="//r.tourboxtech.com/jp/src/images/detail-item01.png" alt="">
					</div>
					<div class="alone-item">
						<img src="//r.tourboxtech.com/jp/src/images/detail-item02.png" alt="">
					</div>
				</div>
				<div class="wrapper-section">
					<span>真のツール、クリエイターの最強武器</span>
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						<span>クリエイティブソフトのショットカットをTourBoxにマッピングする</span>だけで、操作難易度が大幅に下がられます。廻旋式ボタンや押しボタンにショートカット、またはTourBoxに内蔵されたbuilt-in機能をマッピングして、各種のソフト操作に適応できます。
					</p>
				</div>
				<div class="wrapper-gif">
					<img src="//r.tourboxtech.com/jp/src/videos/detail-item02.gif" alt="TourBox">
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						TourBoxは<span>数多くのクリエイティブソフト</span>に対応できます。<span>立体的レイアウト</span>の入力形態や<span>使用シーン</span>に合わせた設計、優れた<span>TourBoxコンソールアプリ</span>を通じて、クリエイターが<span>作業フロー</span>を全面的にサポートできます。ブラシや画面の調整、動画や音声の編集、パラメーターの調節、ツールの切り替えなどを全てスムーズに完了。操作に気を取られてアイデアが<span>途切れるようなことがなく</span>、思いのままに作品作りに没頭できます。
					</p>
				</div>
			</div>
			<div class="banner-item" style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-item-bg01.png');">
				<img src="//r.tourboxtech.com/jp/src/images/detail-item-over01.png" alt="TourBox">
			</div>
			<div class="wrapper">
				<div class="wrapper-summary">
					<span>真のツールとは、まるで自分の手のように最も直感的な方法で創作、思考、ソフトウェアのコントロールができるようにクリエイターをサポートするものです。</span>
				</div>
				<div class="wrapper-panel">
					<div class="panel-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-panel-item01.png');">
						<span>イラスト</span>
					</div>
					<div class="panel-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-panel-item02.png');">
						<span>デザイン</span>
					</div>
					<div class="panel-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-panel-item03.png');"><span>写 真</span>
					</div>
					<div class="panel-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-panel-item04.png');">
						<span>ビデオ・オーディオ</span>
					</div>
				</div>
				<div class="wrapper-title">
					<span>作業シーンを考え抜き、効率アップ</span>
				</div>
				<div class="wrapper-summary">
					<span>効率的で正確なブラシコントロール機能</span>
				</div>
				<div class="wrapper-description">
					<p class="description-text">「ノブ」でブラシのサイズ、流量、不透明度、硬さを楽々コントロールできますので、手を止めることなく創作に集中できます。</p>
				</div>
				<div class="wrapper-gif">
					<img src="//r.tourboxtech.com/jp/src/videos/detail-item03.gif" alt="">
				</div>
				<div class="wrapper-summary">
					<span>途切れずに作業できます。実際の操作シーンはこちらの動画をご覧ください。</span>
				</div>
				<div class="wrapper-video">
					<div class="video-error" v-if="!videoLoad">
						<img src="//r.tourboxtech.com/jp/src/images/loading.gif" alt="loading">
					</div>
					<iframe width="100%" height="100%"
						src="https://www.youtube.com/embed/CN5noAYTu34?enablejsapi=1&autoplay=0&loop=1&playlist=CN5noAYTu34"
						frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen @load="iframeLoad"></iframe>
				</div>
				<div class="wrapper-summary">
					<span>パラメーター調節がスムーズ</span>
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						パラメーターバーや数値の調節、動画のコマ送りやスピーディーな検索など、TourBoxで正確に各パラメーターを調節します。時間のかかるマウスによるドラッグとはもうお別れしましょう。</p>
				</div>
				<div class="wrapper-gif">
					<img src="//r.tourboxtech.com/jp/src/videos/detail-item04.gif" alt="">
				</div>
				<div class="wrapper-summary">
					<span>シームレスなナビゲーション機能</span>
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						「スクロール」や「ノブ」、「ダイヤル」で画面の縮小・拡大や回転、タイムラインのサイズ変更などの直感的なコントロールが可能で、効率も正確さもさらに向上します。また、正面と側面の各種ボタンを組み合わせれば、より高度なコマンドを設定することができます。
					</p>
				</div>
				<div class="wrapper-gif">
					<img src="//r.tourboxtech.com/jp/src/videos/detail-item05.gif" alt="">
				</div>
				<div class="wrapper-summary">
					<span>ツールのすばやい切替</span>
				</div>
				<div class="wrapper-description">
					<p class="description-text">十字キーによってより正確かつ即座に各ツールを切り替えられ、HUDでリアルタイムで確認できます。</p>
				</div>
				<div class="wrapper-gif">
					<img src="//r.tourboxtech.com/jp/src/videos/detail-item06.gif" alt="">
				</div>
				<div class="wrapper-section">
					<span>コンソールでマイTourBoxを設定</span>
				</div>
				<div class="wrapper-title">
					<span>TourBoxコンソールで機能をカスタマイズ</span>
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						優れたカスタマイズ機能によって、あなたのニーズを100％満たすツールに。TourBoxは「ノブ」や「スクロール」、「ダイヤル」やほかのボタンを単独、あるいは組み合わせて使用することがてきます。各種ソフトウエアのショートカット、またはTourBoxに内蔵されたbuilt-in機能を42種類の簡単な操作パタンにマッピングすることができ、迅速に実現できます。あなたの作業フローに合わせて進化するコントローラー、それがTourBoxです。
					</p>
				</div>
				<div class="wrapper-gif">
					<img src="//r.tourboxtech.com/jp/src/videos/detail-item07.gif" alt="">
				</div>
				<div class="wrapper-title">
					<span>コンソールアプリ、便利さはすべて</span>
				</div>
				<div class="wrapper-summary">
					<span>プリセット機能</span>
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						TourBoxはソフトウエア別、または作業フロー別に複数のプリセットの管理と切り替えが行えます。プリセット内容はインポートとエクスポートができますので、他のユーザーとシェアすることも可能です。クリエイター仲間にもあなたのプリセットを教えましょう！-in機能を42種類の簡単な操作パタンにマッピングすることができ、迅速に実現できます。あなたの作業フローに合わせて進化するコントローラー、それがTourBoxです。
					</p>
				</div>
				<div class="wrapper-gif">
					<img src="//r.tourboxtech.com/jp/src/videos/detail-item08.gif" alt="">
				</div>
				<div class="wrapper-summary">
					<span>タグ機能</span>
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						タグ機能はショートカットに分かりやすい名称を付け、それぞれの機能を説明することができます。TourBoxはタグ機能によって、覚えにくく押しにくいショートカットをひとつひとつ覚える必要がなく、まさに「見たままが得られる」創作作業を楽しむことができます。-in機能を42種類の簡単な操作パタンにマッピングすることができ、迅速に実現できます。あなたの作業フローに合わせて進化するコントローラー、それがTourBoxです。
					</p>
				</div>
				<div class="wrapper-gif">
					<img src="//r.tourboxtech.com/jp/src/videos/detail-item09.gif" alt="">
				</div>
				<div class="wrapper-summary">
					<span>ガイド機能</span>
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						インタラクティブなガイド機能は、TourBoxを驚くほど使いやすくしている機能です。モニターに常駐できるインタラクティブ式HUD、そしてボタンひとつで呼び出すことができるガイドマップによって、画面から目を離してキーを確認することなく作業に専念できます。-in機能を42種類の簡単な操作パタンにマッピングすることができ、迅速に実現できます。あなたの作業フローに合わせて進化するコントローラー、それがTourBoxです。
					</p>
				</div>
				<div class="wrapper-gif">
					<img src="//r.tourboxtech.com/jp/src/videos/detail-item10.gif" alt="">
				</div>
				<!-- section -->
				<div class="wrapper-section">
					<span>更なる利点</span>
				</div>
				<div class="wrapper-summary">
					<span>片手でブラインドタッチ、楽々使用</span>
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						TourBoxは正側両面の立体的なレイアウトを採用しており、腕を動かすことなく容易に操作することが可能です。-in機能を42種類の簡単な操作パタンにマッピングすることができ、迅速に実現できます。あなたの作業フローに合わせて進化するコントローラー、それがTourBoxです。
					</p>
				</div>
				<div class="wrapper-description">
					<p class="description-text">「ノブ」や「ダイヤル」、「スクロール」、またはほかのボタンなどを単独、あるいは組み合わせることで使用できます。高効率で正確、かつシームレスな作業を実現しました。
					</p>
				</div>
				<div class="wrapper-img">
					<img src="//r.tourboxtech.com/jp/src/images/gs-banner.png" alt="">
				</div>
				<div class="wrapper-summary">
					<span>創作はいつでも、どこでも</span>
				</div>
				<div class="wrapper-img">
					<img src="//r.tourboxtech.com/jp/src/images/detail-banner-02.jpg" alt="">
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						11.6cm×10.1cm、手のひらに収められるコンパクトタイプの設計によるポータブル性を持ちます。普段使うデスクはもちろん、カフェーの小さいテーブルの上でも思うままに使用できます。いつでも、どこでも、TourBoxがもたらす便利さを楽しめることができます。
					</p>
				</div>
				<div class="wrapper-panel01">
					<div class="panel-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-panel01.png');"></div>
					<div class="panel-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-panel02.png');">
						<p>肌に優しい材質の</p>
						<p>使用によるデバイスの</p>
						<p>冷たさの弱め</p>
					</div>
					<div class="panel-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-panel03.png');">
						<p>適正な重さで、</p>
						<p>揺らぎなく</p>
						<p>安定操作の確保</p>
					</div>
					<div class="panel-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-panel04.png');"></div>
					<div class="panel-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-panel05.png');"></div>
					<div class="panel-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-panel06.png');">
						<p>20万回以上の耐久性の</p>
						<p>優れたデバイスの選択</p>
					</div>
					<div class="panel-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-panel07.png');">
						<p>Type‐cインターフェースの</p>
						<p>採用による汎用性と</p>
						<p>スピードの向上</p>
					</div>
					<div class="panel-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-panel08.png');"><span></span>
					</div>
					<div class="panel-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-panel09.png');"><span></span>
					</div>
					<div class="panel-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-panel10.png');">
						<p>エッジの流線型デザインは、</p>
						<p>高強度の作業による</p>
						<p>疲労感を低減</p>
					</div>
					<div class="panel-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-panel11.png');">
						<p>macOS / Windows</p>
						<p>両方に対応</p>
					</div>
					<div class="panel-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-panel12.png');"><span></span>
					</div>
				</div>
				<!-- scetion -->
				<div class="wrapper-section">
					<span>メディアの報道</span>
				</div>
				<div class="wrapper-banner"
					style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-banner-item03.jpg');">
					<!-- <p>30力以上嘻嘻嘻嘻嘻嘻</p>
					<p>30力以上嘻嘻嘻嘻嘻嘻</p> -->
				</div>
				<div class="wrapper-comment">
					<p class="comment-text">
						「リタッチはスライダーで硬さ、フロー、不透明度などの細かな調整を行うことが多いです。TourBoxはモニターから目を離したり、どのダイヤルを回すか考えたりする必要なく、手が届く範囲ですばやく処理を行えるように設計されています。」
					</p>
					<p class="comment-from">--- by fstopper.com</p>
					<p class="comment-text">
						「TourBoxはコンパクトでポータブルなプラグアンドプレイ設計を採用しており、カメラマンがオフィスから離れた場所で写真の加工をすることもできます。」
					</p>
					<p class="comment-from">--- by dpreview.com</p>
					<p class="comment-text">
						「手のひらサイズのTourBoxは、完全なカスタマイズが可能なユーザーインターフェースを有しています。」
					</p>
					<p class="comment-from">--- by petapixel.com</p>
					<p class="comment-text">
						「TourBoxはユーザー目線で設計されており、人間工学に基づいた実用的なレイアウトで、よく使用される機能にすばやくアクセスすることができます。」
					</p>
					<p class="comment-from">--- by geeky-gadgets.com</p>
					<p class="comment-text">
						「TourBoxがあれば、ユーザーはより速く、より便利に作業ができ、創作により集中することが可能となります。」
					</p>
					<p class="comment-from">--- by photographyblog.com</p>
				</div>
				<!-- scetion -->
				<div class="wrapper-section">
					<span>海外ユーザーの反応</span>
				</div>
				<div class="wrapper-discuss">
					<div class="discuss-item">
						<div class="item-pratrait">
							<img src="//r.tourboxtech.com/jp/src/images/detail-portrait01.png" alt="">
						</div>
						<div class="item-detail">
							<p>Matt Kav</p>
							<p>「これは私の絵には不可欠なものになるかもしれません。」</p>
						</div>
					</div>
					<div class="discuss-item">
						<div class="item-pratrait">
							<img src="//r.tourboxtech.com/jp/src/images/detail-portrait02.png" alt="">
						</div>
						<div class="item-detail">
							<p>Tobias Moretti</p>
							<p>「TourBoxはもう私がPhotoshopを使う核心的なツールになったと思います。」</p>
						</div>
					</div>
					<div class="discuss-item">
						<div class="item-pratrait">
							<img src="//r.tourboxtech.com/jp/src/images/detail-portrait03.png" alt="">
						</div>
						<div class="item-detail">
							<p>Adam Dorobis</p>
							<p>「TourBoxは本当に素晴らしい商品です。Lightroomに時間をもっと節約できそうです。」</p>
						</div>
					</div>
					<div class="discuss-item">
						<div class="item-pratrait">
							<img src="//r.tourboxtech.com/jp/src/images/detail-portrait04.png" alt="">
						</div>
						<div class="item-detail">
							<p>Craig</p>
							<p>「コンソールアプリでAffinity Photooのプリセットを設定するには、わずか10分しかかかりませんでした。」</p>
						</div>
					</div>
					<div class="discuss-item">
						<div class="item-pratrait">
							<img src="//r.tourboxtech.com/jp/src/images/detail-portrait05.png" alt="">
						</div>
						<div class="item-detail">
							<p>Ben</p>
							<p>「 Photoshopのワークフローがスピードアップしました。Premiere Proの設定にちょっと時間がかかったが、煩雑なショートカットはもうありません。」</p>
						</div>
					</div>
					<div class="discuss-item">
						<div class="item-pratrait">
							<img src="//r.tourboxtech.com/jp/src/images/detail-portrait06.png" alt="">
						</div>
						<div class="item-detail">
							<p>nick.does.bags </p>
							<p>「After Effectsによく使う「ダイアル」をカスタマイズしたプリセットに合わせて時間軸をコントロールできます。」</p>
						</div>
					</div>
					<div class="discuss-item">
						<div class="item-pratrait">
							<img src="//r.tourboxtech.com/jp/src/images/detail-portrait07.png" alt="">
						</div>
						<div class="item-detail">
							<p>Nicholas Lloyd</p>
							<p>「一番好きなのは「ノブ」ボタンです。ブラシや他のツールを簡単にコントロールできます。」</p>
						</div>
					</div>
					<div class="discuss-item">
						<div class="item-pratrait">
							<img src="//r.tourboxtech.com/jp/src/images/detail-portrait08.png" alt="">
						</div>
						<div class="item-detail">
							<p>Todd J Sumrall</p>
							<p>「私はFBでほかのユーザーが共有しているLightroomのプリセットをダウンロードした。完全に癖になりました。」</p>
						</div>
					</div>
				</div>
				<!-- scetion -->
				<div class="wrapper-section">
					<span>TourBox物語</span>
				</div>
				<div class="wrapper-summary">
					<span>操作がインスピレーションを妨げないツールを</span>
				</div>
				<div class="wrapper-description">
					<p class="description-text">TourBox のアイデアは、TourBox
						Techチーム創設者の日常から生まれました。写真や動画を編集する時、文字を打つために作られたキーボードでソフトウエアを操作するのは複雑で時間がかかるものです。操作に気をとられてしまって、せっかくひらめいたインスピレーションが台無しになることもよくあります。
					</p>
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						市場にはこの問題を真の意味で解決する製品が存在せず、マウスとキーボード以外の、クリエイターがより直感的かつスピーディーにソフトウエアを操作できるツールがないことに創設者は気づいたのです。</p>
				</div>
				<div class="wrapper-description">
					<p class="description-text">2016年11月、TourBox Techチームが結成され、TourBoxの研究開発がスタートします。</p>
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						開発に伴って、シリコンバレーや深セン、合肥で、メディアテック、Google、オートデスクからのハードウエアエンジニア、ソフトウエアアーキテクト、インダストリアルデザイナー、構造デザイナー、クリエイティブワーカーらが加わり、チームは徐々に大きくなりました。さらに、よりユーザーのニーズに寄り添うためにアニメーター、ディレクター、カメラマンが参加し、メンバーがひとつとなって製品の設計が進められました。
					</p>
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						「地に足のついたイノベーションに挑む」をモットーに私たちが追求したのは、真にクリエイティブワークの効率を高めるツールであり、そのためにいかなる問題の解決にも妥協しませんでした。</p>
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						より多くの機能を持ち、より長く使用でき、より完璧にユーザーの意のままに操作できるツールを目指して、私たちは研究開発に約2年の時間を費やしました。そして基礎技術のフレームワークを一新し、複雑な操作ロジック、部品の耐久性、インタラクションプロトコルの汎用性、総合的なマン・マシン・インタラクションデザインなどの問題を解決したのです。
					</p>
				</div>
				<div class="wrapper-description">
					<p class="description-text">長期間にわたる研究開発とテスト、試用、修正を経て、TourBoxのハードウエアとソフトウエアは大きな進化を遂げました。</p>
				</div>
				<div class="wrapper-gif">
					<img src="//r.tourboxtech.com/jp/src/videos/detail-item11.gif" alt="">
				</div>
				<div class="wrapper-description">
					<p class="description-text">2018年10月、TourBoxはKickstarterでビジネス版のクラウドファンディングを開始し、大成功を収めて大規模な生産へと進むことができました。</p>
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						TourBoxはこれまでにない設計の製品ですので、生産に関して参考にできる経験が限られていました。クリエイターが毎日使うツールとして、耐久性と操作の快適さを兼ね備え、さらに外観も洗練されていなければなりません。これは大きな挑戦でした。そこでチームは新たにサプライチェーンマネージメントの専門家と生産品質管理の専属スタッフを迎え、難関を突破しました。そして2019年7月、ついに量産版TourBoxを全世界58カ国の支援者へ届けることができたのです。
					</p>
				</div>
				<div class="wrapper-joint">
					<div class="joint-item">
						<img src="//r.tourboxtech.com/jp/src/images/detail-joint01.jpg" alt="TourBox">
					</div>
					<div class="joint-item">
						<img src="//r.tourboxtech.com/jp/src/images/detail-joint02.png" alt="TourBox">
					</div>
					<div class="joint-item">
						<img src="//r.tourboxtech.com/jp/src/images/detail-joint03.jpg" alt="TourBox">
					</div>
					<div class="joint-item">
						<img src="//r.tourboxtech.com/jp/src/images/detail-joint04.png" alt="TourBox">
					</div>
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						おかげさまでTourBoxはユーザーの皆様から大好評をいただいております。カスタマイズとプリセットによって一人一人のクリエイターにぴったりなツールとなったTourBoxが、さまざまなデジタルクリエイティブの世界で活躍し始めています。
					</p>
				</div>
				<div class="wrapper-description">
					<p class="description-text">私たちはユーザーの皆様のご期待を裏切ることも、チームが歩んだ3年の道のりを無にすることもありません。</p>
				</div>
				<div class="wrapper-description">
					<p class="description-text">
						今、完全日本語バージョンのTourBoxを皆様にご紹介できることを嬉しく思っております。皆様のご支援は、私たちがこれからもイノベーションに挑み続け、デジタルクリエイターに最高のツールを届けていく力となります。どうぞ応援のほど、よろしくお願い申し上げます。
					</p>
				</div>
				<!-- section -->
				<div class="wrapper-section">
					<span>製品スペック</span>
				</div>
				<div class="wrapper-img">
					<img src="//r.tourboxtech.com/jp/src/images/detail-banner-item04.png" alt="TourBox">
				</div>
				<!-- section -->
				<div class="wrapper-section">
					<span>使用方法</span>
				</div>
			</div>
			<div class="banner-item01" v-if="!isM">
				<img class="item01-bg" src="//r.tourboxtech.com/jp/src/images/detail-banner-bg05.png" alt="TourBox">
				<img class="item01-over" src="//r.tourboxtech.com/jp/src/images/detail-banner-over05.png" alt="TourBox">
			</div>
			<div class="banner-mobile" v-if="isM">
				<img class="item01-over" src="//r.tourboxtech.com/jp/src/images/detail-mobile-item01.png" alt="TourBox">
			</div>
			<div class="wrapper">
				<!-- section -->
				<div class="wrapper-section">
					<span>梱包内容</span>
				</div>
				<div class="wrapper-other">
					<div class="other-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-other01.png');"><span>TOURBOX</span>
					</div>
					<div class="other-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-other02.png');">
						<span>TYPE-Cケーブル</span>
					</div>
					<div class="other-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-other03.png');">
						<span>ユーザーマニュアル</span>
					</div>
					<div class="other-item"
						style="background-image: url('//r.tourboxtech.com/jp/src/images/detail-other04.png');">
						<span>クイックスタートガイド</span>
					</div>
				</div>
				<!-- section -->
				<div class="wrapper-section">
					<span>タイムライン</span>
				</div>
				<div class="wrapper-img">
					<img src="//r.tourboxtech.com/jp/src/images/detail-banner-item06.png" alt="">
				</div>
				<!-- section -->
				<div class="wrapper-section">
					<span>よくあるご質問</span>
				</div>
				<div class="wrapper-faq">
					<div class="faq-item">
						<p>Q ) いつ出荷を開始しますか？</p>
						<p>A : 2020年3月です。</p>
					</div>
					<div class="faq-item">
						<p>Q ) TourBoxでPhotoshop、Lightroom、Premiere以外のソフトウエアを操作できますか？</p>
						<p>A : はい、TourBoxは汎用性が高く、数多くのソフトウエアのショットカットはTourBoxにマッピングでき、直観的かつ効率的に操作できます。</p>
					</div>
					<div class="faq-item">
						<p>Q ) 送料を負担しなければなりませんか？</p>
						<p>A : いいえ、送料はすべてTourBox Techが負担いたします。</p>
					</div>
					<div class="faq-item">
						<p>Q ) ソフトウエアのダウンロードとクイックスタートガイドはどこですか？</p>
						<p>A : こちらをご覧ください。<a href="https://www.tourboxtech.com/jp/">https://www.tourboxtech.com/jp/</a>。</p>
					</div>
					<div class="faq-item">
						<p>Q ) WindowsとmacOS、どちらにも対応していますか？</p>
						<p>A : はい、TourBoxはWindows 7以上、macOS 10.10以上に対応しています。</p>
					</div>
					<div class="faq-item">
						<p>Q ) 何かサポートが必要なら、連絡してください。</p>
						<p>A : 製品に関する技術的なご質問はこちらから <a href="mailto:support@tourboxtech.com">support@tourboxtech.com</a></p>
					</div>

				</div>
				<!-- section -->
				<div class="wrapper-section">
					<span>リスク＆チャレンジ</span>
				</div>
				<div class="wrapper-description">
					<p class="description-text">※生産状況、天候、配送の関係によって、お届けが予定より遅延する可能性がございます。</p>
				</div>
				<div class="wrapper-description">
					<p class="description-text">※ご支援の数が想定を上回った場合、製造工程上の都合等により出荷時期が遅れる場合がございます。</p>
				</div>
				<div class="wrapper-description" style="margin-bottom: .5rem;">
					<p class="description-text">クラウドファンディングの性質上、上記の注意点につきましてあらかじめご理解、ご了承いただいた上でご支援くださいますよう、よろしくお願い申し上げます。</p>
				</div>
				<!-- <div class="wrapper-img">
						<img src="//r.tourboxtech.com/jp/src/images/detail-method.png" alt="">
					</div> -->
			</div>
			<div id="footer"></div>
		</section>
	</section>
	<!-- footer -->
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/adapter.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/pages/intro.js" type="text/javascript" charset="utf-8"></script>
</body>


</html>