<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="description" content="TourBox, 全新概念的創作軟體控制器，讓您擺脫復雜單調的鍵盤快捷鍵，徹底解放您的創造力，是設計、繪圖、攝影、影音剪輯等創作的必備工具。" />
	<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 user-scalable=no" />
	<meta name="p:domain_verify" content="d9a145c3c388a5a0309748c004f9f8e7" />
	<title>TourBox - 真正的創作工具，藝術家的最强武器</title>
	<link rel="shortcut icon" type="image/ico" href="basic-img/favicon.ico" />
	<link rel="canonical" href="https://www.tourboxtech.com/" />
	<link rel="stylesheet" type="text/css" href="css/global.css" />
	<link rel="stylesheet" type="text/css" href="css/header.css" />
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<link rel="stylesheet" type="text/css" href="plugins/iconfont/iconfont.css" />

	<!--[if lte IE 9]>
		<script>alert('Please upgrade or change your browser'); window.location = 'error.html'; </script>
	<![endif]-->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123518466-3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-123518466-3');
	</script>
</head>

<body>
	<section id="index" class="index" v-cloak>
		<!-- header -->
		<header class="header">
			<div class="header-desk flex-vc">
				<nav class="desk-nav flex-vb flex-1">
					<a class="nav-logo" href="index.html"></a>
					<ul class="nav-bar flex-vc">
						<li class="bar-item" v-for="(item, index) in navList" :key="index">
							<a class="item-link flex-center" :href="item.href">{{item.name}}</a>
							<ul class="item-bar" v-if="item.linkList">
								<li class="bar-sub" v-for="(linkItem, linkIndex) in item.linkList" :key="linkIndex">
									<a class="sub-link flex-center" :href="linkItem.link"
										:target="linkItem.target">{{linkItem.linkName}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<div class="desk-language ">
					<div class="language-default flex-vb">
						<span>繁體中文</span>
						<i class="iconfont icondian"></i>
					</div>
					<ul class="language-select">
						<li class="select-item flex-center" @click="checkLanguage('cn')">简体中文</li>
						<li class="select-item flex-center" @click="checkLanguage('en')">English</li>
						<li class="select-item flex-center" @click="checkLanguage('jp')">日本語</li>
						<li class="select-item flex-center" @click="checkLanguage('kr')">한국어</li>
						<li class="select-item flex-center" @click="checkLanguage('de')">Deutsch</li>
					</ul>
				</div>
			</div>

			<div class="header-mobile flex-vb">
				<div class="mobile-nav">
					<div class="nav-toggle" v-show="!openLanguageShow" @click="openMenu">
						<i class="iconfont iconbars" :class="{iconclose: openMenuShow}"></i>
					</div>
					<ul class="nav-list">
						<li class="list-item" v-for="(item, index) in navList" :key="index">
							<a class="item-link flex-vb" :href="item.href" :target="item.target">
								<span>{{item.name}}</span>
								<i class="iconfont iconarrow-right"></i>
							</a>
						</li>
					</ul>
				</div>
				<a class="mobile-logo" href="index.html"></a>
				<div class="mobile-language " v-show="!openMenuShow">
					<div class="language-default flex-vc" :class="{'icon-active': openLanguageShow}" @click="openLanguage">
						<span v-show="!openLanguageShow">繁體中文</span>
						<i class="iconfont icondian" :class="{iconclose: openLanguageShow}"></i>
					</div>
					<ul class="language-select">
						<li class="select-title flex-vc"><span>選擇語言</span></li>
						<li class="select-item flex-vb" @click="checkLanguage('cn')"><span>中国大陆</span><span>简体中文</span></li>
						<li class="select-item flex-vb" @click="checkLanguage('en')"><span>United States</span><span>English</span>
						</li>
						<li class="select-item flex-vb" @click="checkLanguage('jp')"><span>日本</span><span>日本語</span></li>
						<li class="select-item flex-vb" @click="checkLanguage('kr')"><span>대한민국</span><span>한국어</span></li>
						<li class="select-item flex-vb" @click="checkLanguage('de')"><span>Deutschland</span><span>Deutsch</span></li>
					</ul>
				</div>
			</div>

			<div class="header-buy flex-vb">
				<span>TourBox 2020</span>
				<a class="flex-center" href="shopify-buy.html" target="_blank">購買</a>
			</div>
		</header>
		<!-- main -->
		<main class="index-main">
			<!-- banner -->
			<section class="main-banner">
				<div class="banner-headline">
					<p class="headline-name ">TourBox <span>2020</span></p>
					<p class="headline-title ">藝術家的最強武器</p>
					<p class="headline-price ">$169</p>
					<div class="headline-link flex-center">
						<a class="link-item felex-center" href="product.html">了解更多 <i class="iconfont iconarrow-right"></i></a>
						<a class="link-item felex-center" href="shopify-buy.html" target="_blank">購買<i class="iconfont iconarrow-right"></i></a>
					</div>
				</div>
			</section>
			<!-- new -->
			<section class="mian-update" :class="{'flex-vb': !isM}">
				<div class="update-item lazy" data-bg="//r.tourboxtech.com/tw/src/images/index-update01-2.1.4.jpg">
					<div class="item-content item-active">
						<h1>TourBox Console2.2.5</h1>
						<h1>現已正式釋出！</h1>
						<a href="downloads.html">了解更多<i class="iconfont iconarrow-right"></i></a>
					</div>
				</div>
				<div class="update-item lazy" data-bg="//r.tourboxtech.com/tw/src/images/index-update02-2.0.4.jpg">
					<div class="item-content">
						<h1>TourBox在台灣超</h1>
						<h1>高額完成眾籌目標</h1>
						<a href="news.html">了解更多<i class="iconfont iconarrow-right"></i></a>
					</div>
				</div>
			</section>
		</main>
	</section>
	<!-- footer -->
	<footer id="footer"></footer>

	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/adapter.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lazyload.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/pages/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/global.load.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript">
		/*<![CDATA[*/
		(function () {
			loadBannerBg();
			initLazy();

			function loadBannerBg() {
				var imgUrl = window.flag ?  '//r.tourboxtech.com/tw/src/images/product-banner-2.0.1.jpg' : '//r.tourboxtech.com/tw/src/images/product-banner-mobile-2.0.1.jpg'
				var img = new Image();
				img.src = imgUrl;
				img.onload = function () {
					$('.headline-name').addClass('top-animate')
					$('.headline-title').addClass('middle-animate')
					$('.headline-price').addClass('bottom-animate')
					$('.headline-link').addClass('link-animate')
				}
			}

			function initLazy() {
				new LazyLoad({
					threshold: 300
				});
			}
		})();
		/*]]>*/
	</script>
</body>


</html>