[v-cloak]{display:none}
.font-title{line-height:1.5;font-size:.36rem;color:#141433}
.font-text{line-height:1.5;font-size:.18rem;color:#141433}
.index{width:100%;min-height:100vh}
.header{transition:background-color .8s;background-color:rgba(255,255,255,.9)}

/* .header-buy>span{display:none} */
/* .header-buy{position:absolute;top:50%;right:1.9rem;z-index:9;transform:translateY(-50%)} */

.desk-shop {
  position: relative;
  width: 150px;
  height: 100%;
  cursor: pointer;
}

.desk-shop:hover .shop-list{
  visibility: visible;
}
.desk-shop>.shop-title {
  width: .86rem;
  height: .26rem;
  font-size: .14rem;
  color: #fff;
  border-radius: .15rem;
  background-image: linear-gradient(218deg,#004ffc 4%,#3f6ef6 94%);
}

.desk-shop>.shop-list {
  position: absolute;
  left: 0;
  top: .55rem;
  z-index: 9;
  visibility: hidden;
  width: 100%;
  padding-bottom:.05rem;
  background-color:rgba(255,255,255,.8);
  box-shadow:1px 1px 1px 0px #eee
}

.desk-shop>.shop-list>.list-item {
  width:100%;
  height:.3rem;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  color:#6d6d6d;
}
.desk-shop>.shop-list>.list-item>a {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  color:#6d6d6d;
}
.desk-shop>.shop-list>.list-item:hover{background-color:#f2f2f2;color:#333}

.header-buy {
  display: none;
}

.header .buy-active{position:fixed;top:0}
.header-black{background-color:rgba(29,29,31,0.3);box-shadow:none}
.header-black>.header-desk .nav-logo{background-image:url('//r.tourboxtech.com/en/basic-img/logo-white-2.0.png')}
.header-black>.header-desk .item-link{color:#fff}
.header-black>.header-desk .bar-item::before{background-color:#fff}
.header-black>.header-desk .bar-item::after{background-color:#fff}
.header-black>.header-desk .sub-link{color:#fff}
.header-black>.header-desk .language-default{color:#fff}
.header-black>.header-desk .language-select>.select-item{color:#fff}
.header-black>.header-desk .item-bar{background-color:rgba(29,29,31,0.72);box-shadow:none}
.header-black>.header-desk .sub-link:hover{background-color:rgba(200,200,200,0.5)}
.header-black>.header-desk .language-select{background-color:rgba(29,29,31,0.72);box-shadow:none}
.header-black>.header-desk .language-select>.select-item:hover{background-color:rgba(200,200,200,0.5)}
.index-main{width:100%;min-height:100vh;padding-bottom:.3rem;background-color:#fff}

/* main-banner */
.main-banner{
  position:relative;
  z-index:9;
  width:100%;
  padding: 16vh 0 2.5rem 0;
  background-color:#fff;
}

.main-banner>.banner-overflow {
  width: 100%;
}

.main-banner>.banner-overflow>.overflow-title {
  width: 100%;
  margin-bottom: .2rem;
  text-align: center;
  line-height: 1;
}
.main-banner>.banner-overflow>.overflow-title>p:first-of-type {
  font-size: .3rem;
  color: #aeaeae;
}
.main-banner>.banner-overflow>.overflow-title>p:last-of-type {
  font-size: .85rem;
  color: #000;
  font-weight: 600;
}
.main-banner>.banner-overflow>.overflow-move {
  width: 100%;
}

.main-banner>.banner-overflow>.overflow-move>.move-img {
  width: 6.5rem;
  height: 5.15rem;
  margin: 0 auto;
  background-image: url('//r.tourboxtech.com/en/src/images/product-banner-2.1.1.png');
  background-position: 0 0;
  background-size: cover;
  /* transform: matrix(1, 0, 0, 1, 0, 0); */
}

.main-banner>.banner-detail {
  width: 7rem;
  margin: -0.5rem auto 0 auto;
  opacity: 0;
  will-change: opacity;
}
.main-banner>.banner-detail>.detail-title {
  display: none;
}
.main-banner>.banner-detail>.detail-text {
  width: 100%;
  margin-bottom: .3rem;
  font-size: .16rem;
  color: #aeaeae;
  text-align: center;
  line-height: 1.3;
}
.main-banner>.banner-detail>.detail-tip {
  width: 100%;
  margin-bottom: .1rem;
  font-size: .18rem;
  color: #000;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}
.main-banner>.banner-detail>.detail-tip>i {
  margin-left: .1rem;
  font-size: .26rem;
  color: #000;
  font-weight: normal;
  cursor: pointer;
}
.main-banner>.banner-detail>.detail-link {
  display: none;
}

.section-second{position:relative;z-index:9;width:100%;background-color:#fff}
.section-second>.second-wrapper{width:100%}
.second-wrapper>.wrapper-first{position:relative;width:100%;height:250vh}
.second-wrapper>.wrapper-fourth{
  position:relative;
  width:100%;
  height:250vh;
}
/* wrapper-full-title */
.second-wrapper>.wrapper-full>.full-title{
  position:relative;
  width:100%;
  padding: 1.2rem 0 .3rem 0;
  text-align: center;
}
.second-wrapper>.wrapper-full>.full-title>p:first-of-type {
  font-size: .25rem;
  color: #929292;
}
.second-wrapper>.wrapper-full>.full-title>p:last-of-type {
  font-size: .55rem;
  color: #000;
  font-weight: 600;
  line-height: 1.3;
}

/* full-sticky */
.wrapper-full>.full-sticky{position:-webkit-sticky;position:sticky;top:0;z-index:0;width:100%;height:100vh;overflow:hidden}
.wrapper-full .sticky-element{position:relative;width:100%;height:100%}
.wrapper-full .sticky-element>.element-cover{
  position:absolute;
  z-index:9;
  background-color:#fff;
  transition:all .5s ease;
}
.wrapper-full .sticky-element>.cover-top{top:0;left:0;right:0;width:100%; height:.55rem;}
.wrapper-full .sticky-element>.cover-right{top:0; right:0; width:2rem; height:100%;}
.wrapper-full .sticky-element>.cover-bottom{bottom:0; left:0; right:0; width:100%; height:.55rem;}
.wrapper-full .sticky-element>.cover-left{top:0; left:0; width:2rem; height:100%;}
.wrapper-full .element-play{position:relative;width:100%;height:100vh}
.wrapper-full .element-play>.play-image{position:absolute;top:0;left:0;z-index:2;width:100%;height:100%;background-position:0 0;background-size:cover;background-repeat:no-repeat}
.wrapper-first .element-play>.play-image{background-image: url('//r.tourboxtech.com/en/src/images/product-second-01-mask-2.0.png');}
.wrapper-fourth .element-play>.play-image{background-image: url('//r.tourboxtech.com/en/src/images/product-second-04-mask-2.0.png');}
.wrapper-full .element-play>.play-hide{display:none}
.wrapper-full .element-play>video{position:relative;z-index:1;width:100%;height:100%;vertical-align:baseline;visibility:visible;object-fit:cover}
.wrapper-full .sticky-element::after{position:absolute;top:0;left:0;z-index:1;display:block;content:"";width:100%;height:100%;opacity:0;transition:all .8s ease;background-color:#000}

/* element-title/text */
.wrapper-full .sticky-element>.element-title{
  position:absolute;
  top:25%;
  left:0;
  z-index:2;
  width: 100%;
  opacity:0;
  transition:all .5s ease;
  will-change:opacity,top;
}
.wrapper-full .sticky-element>.element-title>p{
  width: 100%;
  font-size: .6rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
}
.wrapper-full .element-text{
  position:absolute;
  top:70%;
  left:50%;
  z-index:2;
  width:6rem;
  font-size: .14rem;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  opacity:0;
  transform:translateX(-50%);
  transition:all .8s 0s ease;
  will-change:opacity,top;
}

.wrapper-full .element-active-scale>.cover-top{height:0}
.wrapper-full .element-active-scale>.cover-bottom{height:0}
.wrapper-full .element-active-scale>.cover-left{width:0}
.wrapper-full .element-active-scale>.cover-right{width:0}

.wrapper-full .element-active-bg::after{opacity:.55}
.wrapper-full .element-active-title>.element-title{top:20%;opacity:1}
.wrapper-full .element-active-text>.element-text{
  top:60%;opacity:1;
  transition:all .8s 0.8s ease;
}
.wrapper-first .element-text-hide{opacity:0}

/* wrapper-card */
.second-wrapper>.wrapper-card{position:relative;width:100%;padding-bottom:.3rem;background-color:#fff}
.wrapper-card>.card-title{
  width:7.5rem;
  margin:0 auto;
  padding:.5rem 2rem .3rem 1rem;
  font-size: .4rem;
  color: #000;
  font-weight: 600;
  line-height: 1;
}
.wrapper-card>.card-play{
  position:relative;
  width:7.5rem;
  height: 4.21rem;
  margin:0 auto;
  border: 8px solid #E6E6E6;
}
.wrapper-card>.card-play>.play-shade{
  position:absolute;
  top:0;
  left:0;
  z-index:9;
  visibility: hidden;
}
.wrapper-card>.card-play>video{width:100%;height:100%;vertical-align:baseline;visibility:visible;object-fit:fill}

.wrapper-card>.card-text{
  width: 5.5rem;
  margin:0 auto;
  padding:.3rem 0 0rem 0;
  font-size:.14rem;
  color: #4D4D4D;
}

/* section-third */
.section-third{
  position:relative;
  z-index:9;
  width:100%;
  padding-top:1.2rem;
  background-image: linear-gradient(200deg, #4D4D4D,#000);
}
.section-third>.third-title{
  width:100%;
  height:2rem;
  margin:0 auto;
  text-align: center;
  font-size: .45rem;
  color: #fff;
}
.section-third>.third-banner{
  width:8rem;
  height:6.2rem;
  margin:0 auto;
  background-repeat:no-repeat;background-position:center center;background-size:cover}

/* section-fourth */
.section-fourth{
  position:relative;
  z-index:9;
  width:100%;
  padding: .8rem 0 0 0;
  background-color:#fff;
}
.section-fourth>.fourth-title{
  width: 7rem;
  margin: 0 auto .3rem auto;
}

.section-fourth>.fourth-title>p:first-of-type {
  width: 100%;
  margin-bottom: .1rem;
  font-size: .25rem;
  color: #1d1d1d;
}
.section-fourth>.fourth-title>p:last-of-type {
  width: 100%;
  font-size: .55rem;
  color: #010101;
  font-weight: 600;
  line-height: 1;
}
.section-fourth>.swiper-container{
  position:relative;
  width: 7rem;
  height:100%;
  margin: 0 auto;
  overflow:hidden
}
.section-fourth>.swiper-container>.swiper-wrapper{width:100%;height:100%}
.section-fourth>.swiper-container>.swiper-wrapper>.swiper-slide{
  width:100%;height:100%;
  background-color:#fff;
}

.swiper-slide>.slide-banner{
  width: 6rem;
  height: 3.25rem;
  margin: 0 auto 0.9rem auto;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
}

.swiper-slide>.slide-title{
  display: none;
}
.swiper-slide>.slide-text{
  width:100%;
  height: .5rem;
  font-size:.14rem;
  color:#4D4D4D;
  line-height:1.5;
  text-align: center;
}

.section-fourth>.swiper-container-horizontal>.swiper-pagination-bullets{
  top: 3.5rem;
  left:.5rem;
  display: flex;
  justify-content: space-between;
  width: 6rem;
  height:.4rem;
  border-bottom: 1px solid #dadada;
}

.swiper-pagination>.swiper-pagination-bullet{
  position: relative;
  height:.4rem;
  text-align:center;
  line-height:.4rem;
  font-size:.14rem;
  color:#AEAEAE;
  opacity:1;
  background-color:transparent;
  border-radius: 0;
}

.swiper-pagination>.swiper-pagination-bullet:first-of-type {
  width: 1.25rem;
  text-align: left;
}
.swiper-pagination>.swiper-pagination-bullet:nth-of-type(2) {
  width: 1.4rem;
}
.swiper-pagination>.swiper-pagination-bullet:nth-of-type(3) {
  width: 1.2rem;
}
.swiper-pagination>.swiper-pagination-bullet:last-of-type {
  width: 0.8rem;
  text-align: right;
}

.swiper-container-horizontal>.swiper-pagination-bullets>span.swiper-pagination-bullet-active{
  color:#000;
  border-bottom: 3px solid #000;
}
.swiper-container-horizontal>.swiper-pagination-bullets>span.swiper-pagination-bullet{margin: 0;}
/* fifth-nav */
.fifth-nav {
  position: absolute;
  left: 50%;
  top: 7.2rem;
  z-index: 9;
  height: .4rem;
  border-bottom: 1px solid #dadada;
  transform: translateX(-50%);
}
.fifth-nav>.nav-list {
  position: relative;
  width: 100%;
  height: 100%;
}

.fifth-nav>.nav-list>.list-item {
  height: 100%;
  padding: 0 .2rem;
  font-size:.14rem;
  color:#AEAEAE;
  cursor: pointer;
}

.fifth-nav>.nav-list>.list-active {
  color:#000;
  border-bottom: 3px solid #000;
}


/* section-fifth */
.section-fifth{
  position:relative;
  z-index:9;
  width:100%;
  padding: 1.5rem 0 1.6rem 0;
  background-color:#fff;
}

.section-fifth>.fifth-title{
  width: 7rem;
  margin: 0 auto .2rem auto;
}

.section-fifth>.fifth-title>p:first-of-type {
  width: 100%;
  margin-bottom: .1rem;
  font-size: .25rem;
  color: #1d1d1d;
}
.section-fifth>.fifth-title>p:last-of-type {
  width: 100%;
  font-size: .55rem;
  color: #010101;
  font-weight: 600;
  line-height: 1;
}
.section-fifth>.fifth-text{
  width:7rem;
  margin:0 auto .3rem auto;
}
.section-fifth>.fifth-text>.text{
  width: 100%;
  font-size: .14rem;
  color: #515151;
  line-height: 1.5;
  opacity: 1;
}

.section-fifth>.fifth-text>.text-active{opacity:1;transform:translateY(0%)}

.section-fifth>.fifth-tab{
  width: 100%;
}

.section-fifth .tab-nav {
  width:7rem;
  margin: 0 auto .3rem auto;
}

.section-fifth .tab-nav>.nav-item {
  color: #969696;
  cursor: pointer;
  transition: color .5s;
}

.section-fifth .tab-nav>.nav-item>i {
  margin-bottom: .15rem;
  font-size: .26rem;
  color: #d6d6d6;
  transition: color .5s;
}


.section-fifth .tab-nav>.nav-item>p {
  font-size: .14rem;
}

.section-fifth .tab-nav>.nav-active {
  color: #000;
}

.section-fifth .tab-nav>.nav-active>i {
  color: #000;
}
.section-fifth .tab-nav>.nav-item:hover {
  color: #000;
}

.section-fifth>.fifth-tab>.tab-nav>.nav-item:hover .iconfont {
  color: #000;
}

.section-fifth .tab-panel {
  width:8rem;
  margin: 0 auto;
}

.section-fifth .tab-panel>.panel-player {
  position: relative;
  width:100%;
  height: 4.5rem;
  margin-bottom: .15rem;
}

.section-fifth .tab-panel>.panel-player>.player-shade{
  position:absolute;
  left:0;top:0;z-index:9;width:100%;height:100%;
  background-color:rgba(0,0,0,.3);
}
.section-fifth .tab-panel>.panel-player>.player-shade>i{font-size:.4rem;color:#fff;cursor:pointer}
.section-fifth .tab-panel>.panel-player>.player-video{
  width:100%;
  height:100%;
  border: 8px solid #E6E6E6;
}
.section-fifth .tab-panel>.panel-player>.player-video>video{
  width:100%;
  height:100%;
  vertical-align:baseline;
  visibility:visible;
  object-fit:fill;
}

.section-fifth .tab-panel>.panel-title {
  width:100%;
  font-size: .2rem;
  color: #000;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.section-fifth .tab-panel>.panel-text {
  width:65%;
  margin: 0 auto;
  font-size: .14rem;
  color: #575757;
  line-height: 1.3;
  text-align: center;
}

.section-sixth{position:relative;z-index:9;width:100%;background-color:#fff}

/* sixth-title */
.section-sixth>.sixth-title{
  position:absolute;
  left:3.4rem;
  top:0;
  z-index:9;
  width:7rem;
  text-align: center;
}

.section-sixth>.sixth-title>p:first-of-type {
  font-size: .25rem;
  color: #929292;
}
.section-sixth>.sixth-title>p:last-of-type {
  font-size: .55rem;
  color: #000;
  font-weight: 600;
  line-height: 1.2;
}

.section-sixth>.sixth-sticky>.sticky-text{display:none}
.section-sixth>.sixth-sticky{--s-image-width:7.5rem;--s-image-height:6.6rem;position:-webkit-sticky;position:sticky;top:0;z-index:0;width:100%;height:100vh;--padding-hardware:calc((((100vh) - var(--s-image-height))/2));padding-top:calc(var(--padding-hardware));overflow:hidden}
.section-sixth>.sixth-sticky>.sticky-element{width:var(--s-image-width);margin:0 auto;will-change:transform}
.section-sixth .sticky-element>.element-image{position:relative;left:50%;z-index:1;width:7.5rem;height:6.6rem;margin-left:-3.75rem;background-repeat:no-repeat;background-size:cover !important}
.section-sixth .sticky-element>.element-play{position:absolute;top:50%;left:50%;z-index:2;width:7.1rem;height:4rem;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}
.sticky-element>.element-play>.play-shade{visibility:hidden}
.sticky-element>.element-play>.play-image{position:absolute;top:0;left:0;z-index:8;width:100%;height:100%;background-position:0 0;background-size:cover;background-repeat:no-repeat}
.sticky-element>.element-play>.play-hide{display:none}
.section-sixth .sticky-element>.element-play>video{position:absolute;top:0px;width:100%;height:100%;vertical-align:baseline;object-fit:cover}
.section-sixth>.sixth-detail{position:relative;width:100%;z-index:10;height:600vh;will-change:background-color}
.section-sixth>.sixth-detail>.detail-sticky{position:sticky;top:0;z-index:1;width:100%;height:10.8rem}
.detail-sticky>.sticky-banner{position:absolute;top:0;left:0;right:0;z-index:1;width:100%;height:10.8rem}
.detail-sticky>.sticky-banner>.banner-bg{position:relative;display:none;width:100%;height:100%;background-repeat:no-repeat;background-position:0 0;background-size:cover;background-color:#000}
.detail-sticky>.sticky-banner>.banner-bg::after{position:absolute;left:0;top:0;z-index:2;display:block;content:"";width:100%;height:100%;background-color:rgba(0,0,0,.6)}
.detail-sticky>.sticky-float{position:relative;z-index:2;width:100%;height:100vh}
.detail-sticky>.sticky-float>.float-first{position:absolute;top:75%;left:0;right:0;z-index:3;width:100%;opacity:0}
.detail-sticky>.sticky-float>.float-first>p{width:6rem;margin:0 auto;text-align:center;color:#fff}

/* sixth-detail */
.detail-sticky>.sticky-float>.float-chunk{position:absolute;top:70%;left:0;right:0;z-index:3;width:100%;opacity:0}
.detail-sticky>.sticky-float>.float-chunk>.chunk-title{
  width: 100%;
  margin-bottom:.15rem;
  text-align: center;
}
.detail-sticky>.sticky-float>.float-chunk>.chunk-title>p:first-of-type{
  width: 100%;
  margin-bottom:.1rem;
  font-size:.22rem;
  color:#d1ccd2;
}
.detail-sticky>.sticky-float>.float-chunk>.chunk-title>p:last-of-type{
  width: 100%;
  font-size:.56rem;
  color:#fff;
  font-weight: 600;
}
.detail-sticky>.sticky-float>.float-chunk>.chunk-text{
  width:6.5rem;
  margin:0 auto;
  text-align: center;
  color:#fffdff;
  line-height: 1.5;
  font-size:.14rem;
}

.section-sixth>.sixth-youtube{position:sticky;bottom:-2.5rem;z-index:1;display:none;width:100%;padding-top:1.2rem;background-color:#fff}
.sixth-youtube>.youtube-title{
  width: 100%;
  margin-bottom:.15rem;
  font-size: .6rem;
  text-align: center;
  font-weight: 600;
  color: #000;
}
.sixth-youtube>.youtube-text{
  width:7rem;
  margin:0 auto .1rem auto;
  font-size:.14rem;
  color:#535353;
  line-height: 1.5;
  text-align: center;
}
.sixth-youtube>.youtube-watch{
  width: 100%;
  height:.4rem;
  margin-bottom:.7rem;
  font-size:.18rem;
  color:#000;
  font-weight:600;
  line-height:.4rem;
  text-align: center;
}
.sixth-youtube>.youtube-watch>i{
  color:#000;
}
.sixth-youtube>.youtube-banner{
  position:relative;
  width:100%;
  height: 5.45rem;
  cursor:pointer;background-repeat:no-repeat;background-position:center center;background-size:cover;
}
.sixth-youtube>.youtube-banner::after{
  display: none;
}
.sixth-youtube>.youtube-banner>img{width:100%;height:100%}

.section-seventh{position:relative;z-index:9;width:100%;padding:.6rem 0 .3rem 0;background-color:#ffffff}
.section-seventh>.seventh-title{
  width:100%;
  font-size:.6rem;
  color:#000;
  font-weight: 600;
  text-align:center;
  line-height:1.5;
}
.section-seventh>.seventh-summary{
  width:100%;
  margin-bottom:.3rem;
  font-size:.2rem;
  color:#999999;
  line-height:1.3;
  text-align:center;
}
.section-seventh>.seventh-banner{
  width:2.5rem;
  height: 2.2rem;
  margin:0 auto;
  margin-bottom:.3rem;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:100% 100%;
}
.section-seventh>.seventh-banner>img{width:100%;height:100%}
.section-seventh>.seventh-price{
  width:100%;
  text-align:center;
  margin-bottom:.15rem;
  font-size:.28rem;
  color:#333333;
  line-height:1.5;
}
.section-seventh>.seventh-buy{width:100%}
.section-seventh>.seventh-buy>a{
  width:1.5rem;
  height:.38rem;
  margin:0 auto;
  font-size:.18rem;
  color:#ffffff;
  font-weight: normal;
  background-image: linear-gradient(to bottom, #4d4d4d 0%, #040404 100%);
  border-radius: 10px;
  border: 1px solid #888888;
}

.main-player{position:fixed;top:0;left:0;right:0;bottom:0;z-index:9999;display:none;width:100%;height:100%;background-color:rgba(0,0,0,.6)}
.main-player>.player-video{position:relative;z-index:9999;width:100%;height:100%}
.main-player>.player-video>.video-container{width:12rem;height:6.75rem;background-color:#000}
.main-player>.player-video>.video-container>iframe{width:100%;height:100%;border:none}
.main-player>.player-video>.video-container>video{width:100%;height:100%;vertical-align:baseline;visibility:visible}
.main-player>.player-video>.video-close{position:absolute;top:.6rem;right:.5rem;z-index:99;cursor:pointer}
.main-player>.player-video>.video-close>.iconfont{font-size:.3rem;color:#fff}
.footer{position:relative;z-index:9}



@media only screen and (max-width:776px){
.font-small {
  line-height: 1.3;
  font-size: .18rem;
  color:#000
}
.font-title{line-height:1.3;font-size:.32rem;color:#000;font-weight: 600;}
.font-text{line-height:1.5;font-size:.14rem;color:#000}
.font-text>span{color:#373737}
.index{width:100%}

.header{position:absolute}
.header-desk .desk-language{margin-left:0}

.header-buy{
  display: block;
  position:absolute;
  top:.44rem;left:0;right:0;
  z-index:99;width:100%;
  height:.44rem;font-size:.18rem;color:#fff;background-color:#1C1C1E;
  transform:translateY(0%);
}

.header-buy>.buy-nav {
  width: 100%;
  height: 100%;
  padding: 0 .2rem;
}

.header-buy>.buy-nav>.nav-left {
  font-size: .16rem;
  color: #fff;
}

.header-buy>.buy-nav>.nav-right {
  width: .8rem;
  height: .26rem;
  text-align: center;
  line-height: .26rem;
  font-size: .16rem;
  color: #fff;
  border-radius: .15rem;
  background-image: linear-gradient(218deg,#004ffc 4%,#3f6ef6 94%);
}

.header-buy>.buy-list {
  position:fixed;
  top:.44rem;
  left: 0;
  z-index: 9;
  visibility: hidden;
  width: 100%;
  padding-bottom:.05rem;
  background-color:rgba(0,0,0,.9);
  box-shadow:1px 1px 1px 0px #eee;
}

.header-buy>.list-active {
  visibility: visible;
}

.header-buy>.buy-list>.list-item {
  position: relative;
  width:100%;
  height:.4rem;
  padding: 0 .2rem;
  font-size: .16rem;
  color: #fff;
}

.header-buy>.buy-list>div::after {
  position: absolute;
  left: 5%;
  bottom: 0;
  display: block;
  content: "";
  width: 90%;
  height: 1px;
  background-color: #f2f2f2;
}

.header-buy>.buy-list>.list-item>.item-shopify {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  width: 280px;
  height: 100%;
}

.main-banner{
  position:relative;
  z-index:9;
  width:100%;
  padding: 1.5rem 0 .3rem 0;
  background-color:#fff;
}

.main-banner>.banner-overflow {
  width: 100%;
}

.main-banner>.banner-overflow>.overflow-title {
  display: none;
}

.main-banner>.banner-overflow>.overflow-move {
  width: 100%;
}

.main-banner>.banner-overflow>.overflow-move>.move-img {
  width: 100%;
  height: 3rem;
  margin: 0 auto;
  background-image: url('//r.tourboxtech.com/en/src/images/product-banner-2.1.1.png');
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  /* transform: matrix(1, 0, 0, 1, 0, 0); */
}

.main-banner>.banner-detail {
  width: 100%;
  margin: -0.5rem auto 0 auto;
  opacity: 1;
  will-change: opacity;
}
.main-banner>.banner-detail>.detail-title {
  display: block;
  width: 100%;
  padding: 0 .2rem;
}
.main-banner>.banner-detail>.detail-title>p:first-of-type {
  font-size: .18rem;
  color: #000;
  line-height: 1.3;
}
.main-banner>.banner-detail>.detail-title>p:last-of-type {
  font-size: .32rem;
  color: #000;
  font-weight: 600;
  line-height: 1.3;
}
.main-banner>.banner-detail>.detail-text {
  width: 100%;
  padding: 0 .2rem;
  margin: 0 auto;
  margin-bottom: .2rem;
  text-align: left;
  line-height: 1.5;
  font-size: .14rem;
  color: #000;
}

.main-banner>.banner-detail>.detail-tip {
  display: block;
  width: 100%;
  padding-left: .2rem;
  margin-bottom: .2rem;
  font-size: .18rem;
  color: #000;
  font-weight: 600;
  text-align: left;
  line-height: 1.5;
}
.main-banner>.banner-detail>.detail-tip>i {
  display: none;
}
.main-banner>.banner-detail>.detail-link {
  display: block;
  width: 100%;
  text-align: left;
}
.main-banner>.banner-detail>.detail-link>.link-item{
  width: auto;
  margin:0 .2rem;
  font-weight: 400;
  font-size: .14rem;
  color: #3690DC;
  cursor:pointer;
}
.main-banner>.banner-detail>.detail-link>.link-item>i{
  margin-left: .05rem;
  font-size: .14rem;
  color: #3690DC;
}


.section-second{position:relative;z-index:9;width:100%;}
.section-second>.second-wrapper{width:100%}
.second-wrapper>.wrapper-first{
  position:relative;
  width:100%;
  height:180vh;
}
.wrapper-second {
  margin-top: .5rem;
}
.second-wrapper>.wrapper-fourth{
  position:relative;
  width:100%;
  height:180vh;
}

.second-wrapper>.wrapper-full>.full-title{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: auto;
  padding: .5rem 0 0rem 0;
  text-align: center;
}
.second-wrapper>.wrapper-full>.full-title>p:first-of-type {
  font-size: .18rem;
  color: #929292;
}
.second-wrapper>.wrapper-full>.full-title>p:last-of-type {
  font-size: .22rem;
  color: #000;
  line-height: 1.3;
}

.wrapper-full>.full-sticky{position:-webkit-sticky;position:sticky;top:0;z-index:0;width:100%;height:100vh;overflow:hidden}
.wrapper-full .sticky-element{position:relative;width:100%;height:100%}
.wrapper-full .sticky-element>.element-cover{
  position:absolute;
  z-index:9;
  background-color:#fff;
  transition:all .5s ease;
}
.wrapper-full .sticky-element>.cover-top{top:0; left:0; right:0; width:100%; height:20vh; }
.wrapper-full .sticky-element>.cover-right{top:0; right:0; width:.25rem; height:100%; }
.wrapper-full .sticky-element>.cover-bottom{bottom:0; left:0; right:0; width:100%; height:20vh;}
.wrapper-full .sticky-element>.cover-left{top:0; left:0; width:.25rem; height:100%;}
.wrapper-full .element-play{width:100%;height:100vh}
.wrapper-full .element-play>.play-image{position:absolute;top: 0;left: 0;z-index: 2;width:100%;height:100%;background-position: 0 0;background-size: cover;background-repeat: no-repeat;}
.wrapper-first .element-play>.play-image{background-image: url('//r.tourboxtech.com/en/src/images/product-second-01-mobile-mask-2.0.png');}
.wrapper-fourth .element-play>.play-image{background-image: url('//r.tourboxtech.com/en/src/images/product-second-04-mobile-mask-2.0.png');}
.wrapper-full .element-play>.play-hide {display: none;}
.wrapper-full .element-play>video{width:100%;height:100%;vertical-align:baseline;visibility:visible;object-fit:cover}
.wrapper-full .element-play>canvas{width:100%;height:100%;vertical-align:baseline;visibility:visible;object-fit:cover}
.wrapper-full .sticky-element::after{position:absolute;top:0;left:0;z-index:1;display:block;content:"";width:100%;height:100%;opacity:0;transition:all .8s ease;background-color:#000}

/* element-title/text */
.wrapper-full .sticky-element>.element-title{
  position:absolute;
  top:20%;
  left:0;
  z-index:2;
  width: 100%;
  padding: 0 .2rem;
  opacity:0;
  transition:all .5s ease;
  will-change:opacity,top;
}
.wrapper-full .sticky-element>.element-title>p{
  width: 100%;
  font-size: .32rem;
  color: #fff;
  line-height: 1.5;
  text-align: left;
}

.wrapper-full .element-text{
  position:absolute;
  top:65%;
  left:50%;
  z-index:2;
  width:100%;
  padding:0 .2rem;
  font-size: .14rem;
  color: #fff;
  line-height: 1.5;
  text-align: left;
  opacity:0;
  transform:translateX(-50%);
  transition:all .8s ease;
  will-change:opacity,top;
}

.wrapper-full .element-active-scale>.cover-top{height:0}
.wrapper-full .element-active-scale>.cover-bottom{height:0}
.wrapper-full .element-active-scale>.cover-left{width:0}
.wrapper-full .element-active-scale>.cover-right{width:0}

.wrapper-full .element-active-bg::after{opacity:.55}
.wrapper-full .element-active-title>.element-title{top:15%;opacity:1}
.wrapper-full .element-active-text>.element-text{top:60%;opacity:1}
.wrapper-first .element-text-hide{opacity:0}


/* wrapper-card */
.second-wrapper>.wrapper-card{
  position:relative;
  width:100%;
  padding: .3rem .2rem .2rem .2rem;
  background-color:#fff;
}
.wrapper-card>.card-title{
  width:100%;
  padding: 0;
  margin-bottom: .2rem;
  font-size:.22rem;
  font-weight: 600;
  color:#141433;
  line-height: 1.3;
}
.wrapper-card>.card-play{
  position:relative;
  width:100%;
  height:2rem;
  margin:0 auto;
  border: none;
}
.wrapper-card>.card-play>.play-shade{
  position:absolute;
  top:0rem;
  left:0rem;
  z-index:9;
  visibility: visible;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.3);
}
.wrapper-card>.card-play>.play-shade>i{font-size:.26rem;color:#fff}

.wrapper-card>.card-play>video{width:100%;height:100%;vertical-align:baseline;visibility:visible;object-fit:fill}

.wrapper-card>.card-text{
  width: 100%;
  margin:0 auto;
  padding:.2rem 0 0rem 0;
  font-size:.14rem;
  color:#000;
  line-height:1.3;
}

/* section-third */
.section-third{
  position:relative;
  z-index:9;
  width:100%;
  padding: 1rem 0 0rem 0;
  background-image: linear-gradient(200deg, #4D4D4D,#000);
}
.section-third>.third-title{
  width:100%;
  height:auto;
  margin-bottom: .3rem;
  line-height:1.3;
  text-align:center;
  font-size: .22rem;
  font-weight: 600;
  color: #fff;
}
.section-third>.third-banner{
  width:100%;
  height:3rem;
  background-repeat:no-repeat;
  background-position:center center;
  background-size: 90% auto;
}

.section-fourth{
  position:relative;
  z-index:9;
  width:100%;
  padding: .5rem 0 0 0;
  background-color:#fff;
}
.section-fourth>.fourth-title{
  width: 100%;
  padding:0 .2rem;
  margin: 0 auto;
}

.section-fourth>.fourth-title>p:first-of-type {
  width: 100%;
  font-size: .18rem;
  color: #000;
  line-height: 1.3;
}
.section-fourth>.fourth-title>p:last-of-type {
  width: 100%;
  font-size: .32rem;
  color: #000;
  font-weight: 600;
  line-height: 1.3;
}

.section-fourth>.swiper-container{
  position:relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow:hidden;
}
.section-fourth>.swiper-container>.swiper-wrapper{width:100%;height:100%}
.section-fourth>.swiper-container>.swiper-wrapper>.swiper-slide{width:100%;height:100%;background-color:#fff}

.swiper-slide>.slide-banner{
  width: 100vw;
  height: 80vw;
  margin: 0 auto 0rem auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100vw auto;
  background-color: transparent;
}
.swiper-slide>.slide-title{
  display: block;
  width: 100%;
  margin-bottom: .1rem;
  padding: 0 .2rem;
  line-height: 1.3;
  text-align: left;
  font-size: .2rem;
  font-weight: 600;
  color: #000;
}
.swiper-slide>.slide-text{
  width:100%;
  height: 1.5rem;
  padding: 0 .2rem;
  font-size:.16rem;
  color: #000;
  line-height:1.5;
  text-align: left;
}

.section-fourth>.swiper-container-horizontal>.swiper-pagination-bullets{
  display: block;
  width:100%;
  text-align:center;
  top: auto;
  bottom:0;
  right:0;left:auto;
  height: 0.2rem;
  border: none;
}
.swiper-pagination>.swiper-pagination-bullet{
  width:.06rem;height:.06rem;
  text-align:center;
  line-height:auto;
  font-size:.14rem;
  color:#BEBEBE;opacity:.3;
  background-color:#000;
  border-radius: 100%;
  border:none;
}
.swiper-pagination>.swiper-pagination-bullet:first-of-type {
  width:.06rem;
}
.swiper-pagination>.swiper-pagination-bullet:nth-of-type(2) {
  width:.06rem;
}
.swiper-pagination>.swiper-pagination-bullet:nth-of-type(3) {
  width:.06rem;
}
.swiper-pagination>.swiper-pagination-bullet:last-of-type {
  width:.06rem;
}
.swiper-container-horizontal>.swiper-pagination-bullets>span.swiper-pagination-bullet-active{opacity:.6;border:none}
.swiper-container-horizontal>.swiper-pagination-bullets>span.swiper-pagination-bullet{margin:0 .05rem}

/* fifth-nav */
.fifth-nav {
  position: absolute;
  left: 50%;
  top: 4.5rem;
  z-index: 9;
  width: 100%;
  height: .4rem;
  border-bottom: 1px solid #dadada;
  transform: translateX(-50%);
  overflow-x: auto;
  overflow-y: hidden;
}
.fifth-nav>.nav-list {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
}

.fifth-nav>.nav-list>.list-item {
  display: inline-block;
  height: 100%;
  padding: 0 .1rem;
  font-size:.14rem;
  color:#AEAEAE;
  cursor: pointer;
}

.fifth-nav>.nav-list>.list-active {
  color:#000;
  border-bottom: 3px solid #000;
}

/* section-fifth mobile */
.section-fifth{
  position:relative;
  z-index:9;
  width:100%;
  padding: 1rem .2rem .5rem .2rem;
  background-color:#fff;
  transition:background-color .5s
}

.section-fifth>.fifth-title{
  width: 100%;
  margin: 0 auto .1rem auto;
}

.section-fifth>.fifth-title>p:first-of-type {
  width: 100%;
  font-size: .18rem;
  color: #000;
}
.section-fifth>.fifth-title>p:last-of-type {
  width: 100%;
  font-size: .32rem;
  color: #000;
  line-height: 1.3;
}

.section-fifth>.fifth-text{
  width: 100%;
  margin:0 0 0rem 0;
}
.section-fifth>.fifth-text>.text{
  width: 100%;
  font-size: .14rem;
  color: #000;
  line-height: 1.5;
  opacity:1;
}

.section-fifth>.fifth-text>.text-active{opacity:1;transform:translateY(0%)}

.section-fifth>.fifth-tab{
  width: 100%;
}

.section-fifth .tab-nav {
  width: 100%;
  margin: 0 auto .2rem auto;
  padding: 0 .1rem;
  border-bottom: 1px solid #cccccc;
}

.section-fifth .tab-nav>.nav-item {
  height: .7rem;
  color: #969696;
  cursor: pointer;
}

.section-fifth .tab-nav>.nav-item>i {
  margin-bottom: 0;
  font-size: .34rem;
  color: #dcdcdc;
}

.section-fifth .tab-nav>.nav-item>p {
  display: none;
}

.section-fifth .tab-nav>.nav-active {
  color: #000;
}

.section-fifth .tab-nav>.nav-active>i {
  font-size: .36rem;
  color: #343434;
}

.section-fifth .tab-panel {
  width: 100%;
  margin: 0 auto;
}

.section-fifth .tab-panel>.panel-player {
  position: relative;
  width:100%;
  height: 1.9rem;
  margin-bottom: .15rem;
}

.section-fifth .tab-panel>.panel-player>.player-shade{
  position:absolute;
  left:0;top:0;z-index:9;width:100%;height:100%;
  background-color:rgba(0,0,0,.3);
}
.section-fifth .tab-panel>.panel-player>.player-shade>i{font-size:.3rem;color:#fff;cursor:pointer}
.section-fifth .tab-panel>.panel-player>.player-video{
  width:100%;
  height:100%;
  border: none;
}
.section-fifth .tab-panel>.panel-player>.player-video>video{
  width:100%;
  height:100%;
  vertical-align:baseline;
  visibility:visible;
  object-fit:fill;
}

.section-fifth .tab-panel>.panel-title {
  width:100%;
  margin-bottom: .1rem;
  font-size: .15rem;
  color: #000;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  transition: color .5s
}

.section-fifth .tab-panel>.panel-text {
  width:100%;
  margin: 0 auto;
  font-size: .14rem;
  color: #000;
  line-height: 1.3;
  text-align: left;
  transition: color .5s
}

.section-fifth-active{background-color:#000;}

.section-fifth-active .tab-panel>.panel-title {
  color: #fff;
}

.section-fifth-active .tab-panel>.panel-text {
  color: #fff;
}

.section-sixth{position:relative;z-index:10;width:100%;background-color:#fff}

.section-sixth>.sixth-title{
  position: absolute;
  left: 0;
  top: .5rem;
  z-index: 99;
  width: 100%;
  text-align: center;
}

.section-sixth>.sixth-title>p:first-of-type {
  width: 100%;
  font-size: .18rem;
  color: #000;
  line-height: 1.3;
  transition:color .5s
}
.section-sixth>.sixth-title>p:last-of-type {
  width: 100%;
  font-size: .32rem;
  color: #000;
  font-weight: 600;
  line-height: 1.3;
  transition:color .5s
}

.section-sixth>.sixth-sticky{
  position:relative;
  top:0;
  z-index:10;
  width:100%;height:auto;
  padding: 1.5rem 0 .5rem 0;
  background-color:#fff;
  transition:background-color .5s;
  overflow:hidden;
}
.section-sixth>.sixth-sticky>.sticky-text{display:block;width:100%;padding:0 .2rem;text-align:left}
.section-sixth>.sixth-sticky>.sticky-text>p{transition:color .5s}
.section-sixth>.sixth-sticky>.sticky-element{position:relative;width:100%;padding: 0 .2rem;margin-bottom:.3rem}

.section-sixth .sticky-element>.element-image{display:none}
.section-sixth .sticky-element>.element-play{position:relative;top:0;left:0;width:100%;height:1.8rem;-webkit-transform:translate(0,0);transform:translate(0,0)}

.section-sixth .sticky-element>.element-play>.play-shade{position:absolute;top:0;left:0;z-index:9;visibility:visible;width:100%;height:100%;background-color:rgba(0,0,0,.3)}
.section-sixth .sticky-element>.element-play>.play-shade>i{font-size:.26rem;color:#fff}
.section-sixth .sticky-element>.element-play>.play-image{position:absolute;top:0;left:0;z-index:8;width:100%;height:100%;background-position: 0 0;background-size: cover;background-repeat: no-repeat;}
.section-sixth .sticky-element>.element-play>.play-hide{display: none;}
.section-sixth .sticky-element>.element-play>video{position:static;width:100%;height:100%;vertical-align:baseline;object-fit:cover}

.section-sixth>.sticky-active{background-color:#000}
.section-sixth>.title-active>p:first-of-type{
  color:#aeb0ad;
}
.section-sixth>.title-active>p:last-of-type{
  color:#fff;
}
.section-sixth>.sixth-sticky>.sticky-text>p{color:#9C9C9C}
.section-sixth>.sixth-detail{position:relative;z-index:10;width:100%;height:420vh;will-change:background-color}
.section-sixth>.sixth-detail>.detail-sticky{position:sticky;top:0;z-index:1;width:100%;height:100vh}
.detail-sticky>.sticky-banner{position:absolute;top:0;left:0;right:0;z-index:1;width:100%;height:100vh}
.detail-sticky>.sticky-banner>.banner-bg{position:relative;display:block;width:100%;height:100%;background-repeat:no-repeat;background-position:0 0;background-size:cover}
.detail-sticky>.sticky-banner>.banner-bg::after{position:absolute;left:0;top:0;z-index:2;display:block;content:"";width:100%;height:100%;background-color:rgba(0,0,0,.5)}
.detail-sticky>.sticky-float{position:relative;z-index:2;width:100%;height:100vh}
.detail-sticky>.sticky-float>.float-first{position:absolute;top:75%;left:0;right:0;z-index:3;display:none;width:100%;opacity:0}
.detail-sticky>.sticky-float>.float-first>p{width:100%;margin:0 auto;padding:0 .2rem;text-align:center;color:#fff}
.detail-sticky>.sticky-float>.float-chunk{position:absolute;top:70%;left:0;right:0;z-index:3;width:100%;opacity:0}
.detail-sticky>.sticky-float>.float-chunk>.chunk-title{
  width:100%;
  margin: 0 0 .3rem 0;
  padding:0 0 0 .2rem;
  text-align: left;
}

.detail-sticky>.sticky-float>.float-chunk>.chunk-title>p:first-of-type{
  width: 100%;
  margin-bottom:.1rem;
  font-size: .16rem;
  color: #aeb0ad;
}
.detail-sticky>.sticky-float>.float-chunk>.chunk-title>p:last-of-type{
  width: 100%;
  font-size: .4rem;
  color:#fff;
  font-weight: 600;
}
.detail-sticky>.sticky-float>.float-chunk>.chunk-text{
  width: 100%;
  padding: 0 .2rem;
  margin:0 auto;
  font-size:.14rem;
  color:#aeb0ad;
  text-align: left;
  line-height: 1.3;
}



.section-sixth>.sixth-youtube{position:sticky;bottom:-4.8rem;z-index:0;display:block;width:100%;padding-top:1.2rem;padding-bottom:.1rem;background-color:#fff}

.sixth-youtube>.youtube-title{
  width: 100%;
  padding: 0 .2rem;
  margin-bottom:.15rem;
  font-size: .32rem;
  color: #000;
  font-weight: 600;
  line-height: 1.3;
  text-align: left;
}
.sixth-youtube>.youtube-text{
  width:100%;
  padding: 0 .2rem;
  margin:0 auto .1rem auto;
  font-size:.14rem;
  color:#000;
  line-height: 1.5;
  text-align: left;
}
.sixth-youtube>.youtube-watch{
  width: 100%;
  height:.4rem;
  padding: 0 .2rem;
  margin-bottom:.2rem;
  font-size:.16rem;
  color:#000;
  font-weight:600;
  line-height:.4rem;
  text-align: left;
}
.sixth-youtube>.youtube-watch>i{
  font-size: .12rem;
  color:#000;
}
.sixth-youtube>.youtube-banner{
  position:relative;
  width:100%;
  height:4.3rem;
  cursor:pointer;background-repeat:no-repeat;background-position:center center;background-size:cover}

.sixth-youtube>.youtube-banner{position:relative;
  width:100%;height:4.15rem;margin:0 auto;
  background-position: center bottom;
  cursor:pointer
}

.sixth-youtube>.youtube-banner>img{width:100%;height:100%}

.section-seventh{position:relative;z-index:9;width:100%;padding:.4rem 0 .3rem 0;background-color:#ffffff}
.section-seventh>.seventh-title{
  width:100%;
  font-size:.4rem;
  color:#000;
  font-weight: 400;
  text-align:center;
  line-height:1.5;
}
.section-seventh>.seventh-summary{
  width:100%;
  margin-bottom:.2rem;
  font-size:.16rem;
  color:#5d5d5d;
  line-height:1.3;
  text-align:center;
}
.section-seventh>.seventh-banner{
  width:2.2rem;
  height: 1.95rem;
  margin:0 auto;
  margin-bottom:.15rem;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:100% 100%;
}
.section-seventh>.seventh-banner>img{width:100%;height:100%}
.section-seventh>.seventh-price{
  width:100%;
  text-align:center;
  margin-bottom:.1rem;
  font-size:.24rem;
  color:#333333;
  line-height:1.5;
}
.section-seventh>.seventh-buy{width:100%; padding: 0 .2rem;}
.section-seventh>.seventh-buy>a{
  width:100%;
  height:.4rem;
  margin:0 auto;
  font-size:.16rem;
  color:#ffffff;
  font-weight: normal;
  background-image: linear-gradient(to bottom, #4d4d4d 0%, #040404 100%);
  border-radius: 5px;
  border: 1px solid #888888;
}

.main-player{position:fixed;top:0;left:0;right:0;bottom:0;z-index:9999;width:100%;height:100%;background-color:rgba(0,0,0,1)}
.main-player>.player-video{position:relative;z-index:9999;width:100%;height:100%}
.main-player>.player-video>.video-container{width:100%;height:2.1rem}
.main-player>.player-video>.video-container>video{width:100%;height:100%;vertical-align:baseline;visibility:visible;object-fit:cover}
.main-player>.player-video>.video-container>iframe{width:100%;height:100%;border:none}
.main-player>.player-video>.video-close{position:absolute;top:.6rem;right:.3rem;z-index:99;cursor:pointer}
.main-player>.player-video>.video-close>.iconfont{font-size:.3rem;color:#fff}
}