[v-cloak] {
	display: none;
}

.cpplus {
	width: 100%;
	min-height: 100vh;
}
.index{width:100%;min-height:100vh}
.header{transition:background-color .8s;background-color:rgba(255,255,255,.9)}
.header-buy>span:first-of-type{display:none}
.header-buy>span:last-of-type{font-size: .16rem; font-weight: bold; color: #333;}
.header-buy{position:absolute;top:50%;right:1.7rem;z-index:9;transform:translateY(-50%)}
.header-desk .desk-language{margin-left:2.8rem}
.header .buy-active{position:fixed;top:0}
.header-black{background-color:rgba(29,29,31,0.3);box-shadow:none}
.header-black>.header-desk .nav-logo{background-image:url('//r.tourboxtech.com/jp/basic-img/logo-white-2.0.png')}
.header-black .header-buy>span:last-of-type{ color: #fff;}
.header-black>.header-desk .item-link{color:#fff}
.header-black>.header-desk .bar-item::before{background-color:#fff}
.header-black>.header-desk .bar-item::after{background-color:#fff}
.header-black>.header-desk .sub-link{color:#fff}
.header-black>.header-desk .language-default{color:#fff}
.header-black>.header-desk .language-select>.select-item{color:#fff}
.header-black>.header-desk .item-bar{background-color:rgba(29,29,31,0.72);box-shadow:none}
.header-black>.header-desk .sub-link:hover{background-color:rgba(200,200,200,0.5)}
.header-black>.header-desk .language-select{background-color:rgba(29,29,31,0.72);box-shadow:none}
.header-black>.header-desk .language-select>.select-item:hover{background-color:rgba(200,200,200,0.5)}

/* main */
.cpplus-main {
  width: 100%;
  padding: 3rem 0 0 0;
	background-color: #fff;
}

.cpplus-main>h1 {
  font-size: .5rem;
  text-align: center;
}