[v-cloak] {
	display: none;
}

#container {
	position: relative;
	width: 100%;
	margin-top: 0;
	min-height: 3rem;
	padding-bottom: 1rem;
}

#container::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 9;
	display: block;
	content: "";
	width: 70%;
	height: 1px;
	background: #ddd;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.container-title {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	width: 100%;
	height: 1rem;
	padding-left: 1.5rem;
	font-size: .26rem;
	color: #fff;
	background: rgba(51, 51, 51, 1);
}

.contaienr-img {
	width: 3.6rem;
	height: 3.6rem;
	margin: 0 auto;
}

.contaienr-img>img {
	width: 100%;
	height: 100%;
}

.container-form {
	position: relative;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-bottom: .2rem;
	margin-bottom: .4rem;
}

.container-form::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 9;
	display: block;
	content: "";
	width: 7rem;
	height: 1px;
	background: #ddd;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.form-input {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: .4rem;
	padding: 0 .1rem;
	margin-right: .1rem;
	background-color: #f2f2f2;
	border-radius: 4px;
}

.form-input>span {
	padding-top: .06rem;
	color: red;
}

.form-input>input {
	width: 2.8rem;
	height: 100%;
	padding-left: .1rem;
	font-size: .12rem;
	color: #000;
	background-color: transparent;
}

.container-form>.form-submit {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	width: .7rem;
	height: .4rem;
	font-size: .12rem;
	color: #fff;
	border-radius: 4px;
	background-color: rgba(22, 155, 213, 1);
	cursor: pointer;
}

.contaienr-tip {
	width: 100%;
	margin: -0.3rem 0 0 0;
	padding: 0rem .2rem .1rem .2rem;
}

.contaienr-tip>.tip-text {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: .4rem;
	font-size: .16rem;
}


.container-animate {
	width: 7.1rem;
	/* height: .9rem; */
	margin: 0 auto;
	padding: 0 .1rem .1rem 0;
	overflow: hidden;
}

.contaienr-result {
	width: 100%;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}

.result-code {
	position: relative;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: auto;
	border-radius: 5px;
	background-color: #f2f2f2;
}

.result-code::after {
	position: absolute;
	left: 3.2rem;
	top: 20%;
	display: block;
	content: "";
	height: 60%;
	width: 1px;
	background-color: #ccc;
}

.code-left {
	position: relative;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	width: 3.3rem;
	height: 100%;
	padding-left: .3rem;
	font-size: .12rem;
	color: #333;
	border-radius: 5px;
	border-bottom-left-radius: 5px;
}

.code-right {
	width: 3.7rem;
	padding-left: .2rem;
	padding: .1rem .2rem .1rem .2rem;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.code-right>p {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	width: 100%;
	height: .3rem;
	font-size: .12rem;
	color: #333;
}

.result-link {
	position: relative;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: auto;
	border-radius: 5px;
	background-color: #fff;
}

.result-link::after {
	position: absolute;
	left: 3.2rem;
	top: 20%;
	display: block;
	content: "";
	height: 60%;
	width: 1px;
	background-color: #ccc;
}

.link-left {
	position: relative;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	width: 3.3rem;
	height: 100%;
	padding-left: .3rem;
	font-size: .12rem;
	color: #333;
	border-radius: 5px;
	border-bottom-left-radius: 5px;
}

.link-right {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	width: 3.7rem;
	height: .4rem;
	padding-left: .2rem;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: .12rem;
	color: #333;
}

.link-right>a {
	font-size: .14rem;
	color: #02A7F0;
}

.result-active {
	background-color: #f2f2f2;
}


input[type=number] {
	-moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@media only screen and (max-width:767px) {
	#container {
		position: relative;
		width: 100%;
		margin-top: 0;
		min-height: 3rem;
		padding-bottom: .3rem;
	}

	.container-title {
		display: flex;
		display: -webkit-flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: .6rem;
		padding: 0 .2rem;
		font-size: .2rem;
	}

	.contaienr-img {
		width: 3rem;
		height: 3rem;
		margin: 0 auto;
	}


	.container-form {
		display: block;
		width: 100%;
		padding: 0 .2rem .2rem .2rem;
		margin-bottom: .2rem;
	}

	.container-form::after {
		position: absolute;
		bottom: 0;
		left: 50%;
		z-index: 9;
		display: block;
		content: "";
		width: 90%;
		height: 1px;
		background: #ddd;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}

	.form-input {
		display: flex;
		display: -webkit-flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: .42rem;
		padding: 0 .1rem;
		margin: 0 0 .15rem 0;
		border-radius: 4px;
	}

	.form-input>span {
		padding-top: .06rem;
		color: red;
	}

	.form-input>input {
		width: 100%;
		height: 100%;
		padding-left: .1rem;
		font-size: .12rem;
		color: #000;
		background-color: transparent;
	}

	.container-form>.form-submit {
		display: flex;
		display: -webkit-flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: .4rem;
		font-size: .14rem;
		color: #fff;
		border-radius: 4px;
		background-color: rgba(22, 155, 213, 1);
		cursor: pointer;
	}


	.contaienr-tip {
		width: 100%;
		margin: -0.5rem 0 0 0;
		padding: 0rem .2rem .1rem .2rem;
	}

	.contaienr-tip>.tip-text {
		display: flex;
		display: -webkit-flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: .4rem;
		font-size: .14rem;
	}


	.container-animate {
		width: 100%;
		padding: 0 .1rem .1rem .1rem;
		overflow: hidden;
	}

	.result-code {
		position: relative;
		display: flex;
		display: -webkit-flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: auto;
		border-radius: 5px;
		background-color: #f2f2f2;
	}
	
	.result-code::after {
		left: 30%;
	}
	
	.code-left {
		width: 30%;
	}
	
	.code-right {
		width: 70%;
	}
	

	.result-link::after {
		position: absolute;
		left: 30%;
	}
	
	.link-left {
		width: 30%;
		height: 100%;
	}
	
	.link-right {
		width: 70%;
		height: .4rem;
	}
	
	.link-right>a {
		font-size: .14rem;
		color: #02A7F0;
	}


}


.fade-enter-active,
.fade-leave-active {
	transition: all .5s;
}

.fade-enter,
.fade-leave-to {
	opacity: 1;
	transform: translateY(100%);
}